<h2>Comprobantes de compra</h2>

<form [formGroup]="forma" novalidate="novalidate">

<mat-expansion-panel [expanded]=true [disabled]=true>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Proveedor
    </mat-panel-title>
  </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
      <div class="col s8 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Proveedor</mat-label>
          <input (keyup)="buscarProveedor()"  #codProv matInput placeholder="" formControlName="proveedor">
          <mat-hint *ngIf="forma.status=='PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['proveedor'].errors?.noExiste">
            El proveedor no existe
          </mat-hint>
        </mat-form-field>
      </div>

      
      <div class="col s12 m6 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Razón Social</mat-label>
          <input matInput placeholder="" formControlName="razonSocial" readonly value="{{ compraProveedor?.razon_social }}">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>CUIT</mat-label>
          <input matInput placeholder="" formControlName="cuit" readonly value="{{ compraProveedor?.cuit }}">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo Comprobante</mat-label>
          <mat-select placeholder="Elija una opción">
            <mat-option value="1">Todos</mat-option>
            <mat-option value="FCCR">Factura / Debito a Credito</mat-option>
            <mat-option value="3">Factura / Debito Contado </mat-option>
            <mat-option value="4">Nota de Credito</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
       </div>
    </div>

    <div class="row" style="margin-top:15px;">  
      
      <div class="col s6 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Fecha desde</mat-label>
          <input matInput [matDatepicker]="picker1" placeholder="" [min]="fechaDesde" [max]="fechaActual" formControlName="fecdesde" [value]="fechaDesde">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Fecha Hasta</mat-label>
          <input matInput [matDatepicker]="picker2" placeholder="" [min]="fechaDesde" [max]="fechaActual" formControlName="fechasta" [value]="fechaActual">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Expediente</mat-label>
          <input matInput placeholder="" formControlName="expediente">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Certificado</mat-label>
          <input matInput placeholder="" formControlName="certificado">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>

    </div>
    
    <div class="row" style="margin-top:0px; margin-bottom:10px !important;">
       <div class="col s6 m3 l1" style="padding-left:2px;">
         <button (click)="getComprobantes()" class="mine-btnbig" mat-flat-button>
           CONSULTAR
         </button>
       </div>
     <!--  <div class="col s6 m4 l1">
         <button (click)="downloadPdf()" class="mine-btnbig" mat-flat-button>
           IMPRIMIR
         </button>
       </div> -->
     </div>
     
     <div id="tablaDatos" class="mat-elevation-z8">
       
       <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
          <mat-action-row>
              <button mat-button>Click me</button>
            </mat-action-row>
         <!-- Position Column -->
         <ng-container matColumnDef= "Fecha">
           <th mat-header-cell *matHeaderCellDef> Fecha </th>
           <td mat-cell *cdkCellDef="let element"> {{ element.Fecha }} </td>
         </ng-container>
     
         <!-- Name Column -->
         <ng-container matColumnDef="Tipo_Comprobante">
           <th mat-header-cell *matHeaderCellDef> Comprobante </th>
           <td mat-cell *cdkCellDef="let element"> {{ element.Tipo_Comprobante + ' - ' + element.Numero_Comprobante }} </td>
         </ng-container> 
     
         <!-- Weight Column -->
         <ng-container matColumnDef="Expediente">
           <th mat-header-cell *matHeaderCellDef> Expediente </th>
           <td mat-cell *cdkCellDef="let element"> {{ element.Expediente }} </td>
         </ng-container> 
     
         <!-- Symbol Column -->
         <ng-container matColumnDef="Certificado">
           <th mat-header-cell *matHeaderCellDef> Certificado </th>
           <td mat-cell *cdkCellDef="let element"> {{ element.Certificado }} </td>
         </ng-container>
         
         <!-- Symbol Column -->
         <ng-container matColumnDef="Importe_Total">
           <th mat-header-cell *matHeaderCellDef> Importe_Total </th>
           <td mat-cell *cdkCellDef="let element"> {{ element.Importe_Total }} </td>
         </ng-container> 
   
         <!-- Symbol Column -->
         <ng-container matColumnDef="Saldo">
           <th mat-header-cell *matHeaderCellDef> Saldo</th>
           <td mat-cell *cdkCellDef="let element"> {{ element.Saldo}} </td>
         </ng-container>
   
         <!-- Symbol Column -->
         <ng-container matColumnDef="Estado">
           <th mat-header-cell *matHeaderCellDef> Estado </th>
           <td mat-cell *cdkCellDef="let element"> {{ element.Estado }} </td>
         </ng-container>
         

         <ng-container matColumnDef="expandedDetail">
          <td mat-cell *cdkCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <h6>Observaciones</h6>
                <div class="example-element-position"> {{element.Observaciones_Comprobante}} </div>
              </div>
            </div>
          </td>
        </ng-container>

        
         <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
         <tr mat-row *cdkRowDef="let element; columns: columnsToDisplay ;" 
         class="example-element-row"
         [class.example-expanded-row]="expandedElement === element"
         (click)="expandedElement = expandedElement === element ? null : element"></tr>

         <tr mat-row *cdkRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

       </table>
       <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
     </div>
