<h2>PROVEEDORES</h2>
<button [routerLink]="['/proveedores']" class="mine-btnbig-grey" mat-flat-button>
  VOLVER A LISTA
</button>

<form [formGroup]="forma" (ngSubmit)="guardarProveedor()" novalidate="novalidate">

  <mat-expansion-panel [expanded]=true [disabled]=false style="margin-top:10px;">
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS FILIATORIOS Y GEOGRÁFICOS</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px; margin-bottom:0px !important;">
      <!--
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo Referente</mat-label>
          <mat-select placeholder="Elija una opción">
            <mat-option value="1">Cliente</mat-option>
            <mat-option value="1">Proveedor</mat-option>
            <mat-option value="1">Banco</mat-option>
            <mat-option value="1">Caja</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      -->
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Número</mat-label>
          <input matInput placeholder="" type="number" formControlName="numero">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo Documento</mat-label>
          <input matInput placeholder="" formControlName="tipoDocumento">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s8 m8 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>N° Documento</mat-label>
          <input matInput placeholder="" formControlName="nroDocumento">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m6 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Razón Social</mat-label>
          <input matInput placeholder="" formControlName="razonSocial">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m6 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Nombre de Fantasía</mat-label>
          <input matInput placeholder="" formControlName="nombreFantasia">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    <!--</div>-->
    <div class="col s12 m6 l6">
    <div class="row" style="margin-top:5px; ">
      <div class="col s12 m12 l12">
        <h6 style="margin-top:0px !important; margin-bottom: 15px !important;">Dirección de Facturación:</h6>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Calle</mat-label>
          <input matInput placeholder="" formControlName="facCalle">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m12 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código Postal</mat-label>
          <input matInput placeholder="" formControlName="facCodigoPostal">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m12 l8">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Ciudad</mat-label>
          <input matInput placeholder="" formControlName="facCiudad">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Provincia</mat-label>
          <input matInput placeholder="" formControlName="facProvincia">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>País</mat-label>
          <input matInput placeholder="" formControlName="facPais">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    </div>
    </div>
    <div class="col s12 m6 l6">
    <div class="row" style="margin-top:5px; ">
      <div class="col s12 m12 l12" style="display:flex">
        <h6 style="margin-top:0px !important; margin-bottom: 15px !important;">Dirección de Envío:</h6>
        <button (click)="copiarDireccion()" class="mine-btnbig-grey" mat-flat-button style="height:25px;line-height:0px;margin-left:15px;min-width:40px !important;padding:0 !important">
          <i class="material-icons" style="font-size:16px;">file_copy</i>
        </button>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Calle</mat-label>
          <input matInput placeholder="" formControlName="envCalle">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m12 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código Postal</mat-label>
          <input matInput placeholder="" formControlName="envCodigoPostal">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m12 l8">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Ciudad</mat-label>
          <input matInput placeholder="" formControlName="envCiudad">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Provincia</mat-label>
          <input matInput placeholder="" formControlName="envProvincia">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>País</mat-label>
          <input matInput placeholder="" formControlName="envPais">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    </div>
    </div>

      <div class="col s12 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Teléfono 1</mat-label>
          <input  matInput placeholder="" type="number" formControlName="telefono1">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Teléfono 2</mat-label>
          <input  matInput placeholder="" type="number" formControlName="telefono2">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Teléfono 3</mat-label>
          <input  matInput placeholder="" type="number" formControlName="telefono3">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>E-mail</mat-label>
          <input  matInput placeholder="" type="text" formControlName="email">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Observaciones</mat-label>
          <textarea matInput placeholder="" formControlName="observaciones"></textarea>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>

   <mat-expansion-panel [expanded]=false [disabled]=false style="margin-top:0px;">
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS PARA RELACIONES COMERCIALES</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px; margin-bottom:0px !important;">

      <div class="col s12 m6 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Categoría del referente</mat-label>
          <input  matInput placeholder="" type="number">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <!--<div class="col s12 m6 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Zona</mat-label>
          <input  matInput placeholder="" type="number" formControlName="telefono2">
        </mat-form-field>
      </div>
      <div class="col s6 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Vendedor</mat-label>
          <input  matInput placeholder="" type="number" formControlName="telefono3">
        </mat-form-field>
      </div>
      <div class="col s6 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Cobrador</mat-label>
          <input matInput placeholder="" formControlName="observaciones">
        </mat-form-field>
      </div>
      <div class="col s12 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Límite de crédito</mat-label>
          <input matInput placeholder="" formControlName="observaciones">
        </mat-form-field>
      </div>
    -->
    </div>


    <div class="row" style="margin-top:15px; margin-bottom:0px !important;">
      <div class="col s12 m12 l12">
        <h6 style="margin-top:0px !important; margin-bottom: 15px !important;">Información Bancaria:</h6>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>CBU</mat-label>
          <input  matInput placeholder="" type="number">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo de cuenta</mat-label>
          <mat-select placeholder="Elija una opción">
            <mat-option value="1">Cuenta corriente</mat-option>
            <mat-option value="2">Caja de ahorro</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s8 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Cuenta bancaria</mat-label>
          <input  matInput placeholder="" type="number">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código de sucursal</mat-label>
          <input  matInput placeholder="" type="number">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top:15px; margin-bottom:0px !important;">
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Estado</mat-label>
          <mat-select placeholder="Elija una opción">
            <mat-option value="1">Pendiente</mat-option>
            <mat-option value="2">Activo</mat-option>
            <mat-option value="3">Inactivo</mat-option>
            <mat-option value="4">Baja</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Categoría de Bloqueo</mat-label>
          <input matInput placeholder="" type="text">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=false [disabled]=false style="margin-top:0px;">
   <mat-expansion-panel-header>
     <mat-panel-title>DATOS DE IMPUESTOS</mat-panel-title>
   </mat-expansion-panel-header>

   <div class="row" style="margin-top:15px; margin-bottom:0px !important;">
     <div class="col s12 m6 l4">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>Situación IVA</mat-label>
         <input matInput placeholder="">
         <!--<mat-hint>Hint</mat-hint>-->
       </mat-form-field>
     </div>
     <div class="col s12 m6 l4">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>CUIT</mat-label>
         <input matInput placeholder="">
         <!--<mat-hint>Hint</mat-hint>-->
       </mat-form-field>
     </div>
     <div class="col s12 m12 l4">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>Estado según AFIP</mat-label>
         <input matInput placeholder="">
         <!--<mat-hint>Hint</mat-hint>-->
       </mat-form-field>
     </div>
     <div class="col s12 m6 l6">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>CAI</mat-label>
         <input matInput placeholder="">
       </mat-form-field>
     </div>
     <div class="col s12 m6 l6">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>Fecha Vencimiento CAI</mat-label>
         <input matInput placeholder="">
       </mat-form-field>
     </div>
     <!--
     <div class="col s12 m6 l6">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>CUIT del Exterior</mat-label>
         <input matInput placeholder="">
     </div>
     <div class="col s12 m6 l6">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>Id Impositivo</mat-label>
         <input matInput placeholder="">
       </mat-form-field>
     </div>
     -->

    <!-- relacion lista de impuestos -->
    <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
      <span style="display:flex;">
        <h6>Lista de Impuestos:</h6>
        <button (click)="addImpuesto()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
          +
        </button>
      </span>
    </div>

    <div class="row" *ngFor="let item of impuestos; let in = index" style="margin:5px !important;">
      <div class="col s12 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
      </div>
      <div class="col s12 m5 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Modelo</mat-label>
          <input matInput placeholder="" value="">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l5">
      <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
        <mat-label>Situación</mat-label>
        <mat-select placeholder="Elija una opción">
          <mat-option value="1">Exento</mat-option>
          <mat-option value="2">Inscripto</mat-option>
          <mat-option value="3">No inscripto</mat-option>
        </mat-select>
        <!--<mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </div>
      <div class="col s12 m2 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código inscripción</mat-label>
          <input matInput placeholder="" style="text-align: right;"
           value="">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m3 l3">
      <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
        <mat-label>Fecha Inscripción</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>
      <div class="col s6 m4 l4">
          <mat-checkbox>¿Posee exenciones?</mat-checkbox>
      </div>
      <div class="col s6 m3 l3">
        <button (click)="deleteImpuesto(in)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
          -
        </button>
      </div>
    </div>
    <!--fin relacion-->

    <!-- relacion formularios -->
    <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
      <span style="display:flex;">
        <h6>Lista de Formularios/Documentos:</h6>
        <button (click)="addFormulario()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
          +
        </button>
      </span>
    </div>

    <div class="row" *ngFor="let item of formularios; let in = index" style="margin:5px !important;">
      <div class="col s12 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código Formulario</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
      </div>
      <div class="col s12 m3 l3">
      <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
        <mat-label>Fecha de Presentación</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      </div>
      <div class="col s12 m3 l3">
      <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
        <mat-label>Fecha de Vencimiento</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      </div>
      <div class="col s6 m3 l3">
        <button (click)="deleteFormulario(in)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
          -
        </button>
      </div>
    </div>
    <!--fin relacion-->

   </div>
 </mat-expansion-panel>

 <mat-expansion-panel [expanded]=false [disabled]=false style="margin-top:0px;">
   <mat-expansion-panel-header>
     <mat-panel-title>DATOS DE STOCK</mat-panel-title>
   </mat-expansion-panel-header>

    <!-- relacion stock -->
    <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
      <span style="display:flex;">
        <h6>Artículos en Stock:</h6>
        <button (click)="addArticulosStock()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
          +
        </button>
      </span>
    </div>

    <div class="row" *ngFor="let item of articulosStock; let in = index" style="margin:5px !important;">
      <div class="col s4 m2 l1">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>ID Artículo</mat-label>
          <input matInput placeholder="" type="number">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m2 l1" style="margin-top:10px;">
        <button class="mine-btnforms" mat-flat-button>
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </button>
      </div>
      <div class="col s8 m3 l2">
      <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
        <mat-label>Fecha última compra</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>
      <div class="col s6 m3 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Precio última compra</mat-label>
          <input matInput placeholder="" type="number" value="">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Moneda</mat-label>
          <mat-select placeholder="Elija una opción">
            <mat-option value="1">Pesos</mat-option>
            <mat-option value="2">Dólares</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l1">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código artículo proveedor</mat-label>
          <input matInput placeholder="" type="number" style="text-align: right;"
           value="">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s8 m6 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código barra proveedor</mat-label>
          <input matInput placeholder="" style="text-align: right;"
           value="">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m2 l1">
        <button (click)="deleteArticulosStock(in)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
          -
        </button>
      </div>
    </div>
    <!--fin relacion-->

 </mat-expansion-panel>

  <div class="row" style="margin-top:25px;">
    <div class="col s12" style="text-align: right;">
      <button type="submit" class="mine-btnbig" mat-flat-button style="margin-right:10px;" [disabled]="!forma.valid">
        GUARDAR
      </button>
      <button type="reset" class="mine-btnbig-grey" mat-flat-button>
        CANCELAR
      </button>
    </div>
  </div>

</form>
