<h2>PROVEEDORES</h2>
<button [routerLink]="['/proveedores']" class="mine-btnbig-grey" mat-flat-button>
  VOLVER A LISTA
</button>

<app-loading *ngIf="loading"></app-loading>

<form [formGroup]="forma" (ngSubmit)="guardarProveedor()" novalidate="novalidate">

  <mat-expansion-panel [expanded]=true [disabled]=false style="margin-top:10px;">
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS FILIATORIOS Y GEOGRÁFICOS</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px; margin-bottom:0px !important;">
      <!--
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo Referente</mat-label>
          <mat-select placeholder="Elija una opción">
            <mat-option value="1">Cliente</mat-option>
            <mat-option value="1">Proveedor</mat-option>
            <mat-option value="1">Banco</mat-option>
            <mat-option value="1">Caja</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      -->
      <div *ngIf="tipoReferente == ('P'||'C')" class="col s6 m6 l3">
        <!-- <mat-form-field *ngIf="tipoReferente == 'P' || tipoReferente == 'B'" appearance="outline" floatLabel="always" style="width:100%;"> -->
        <!-- <mat-form-field *ngIf="tipoReferente == 'C'" appearance="outline" floatLabel="always" style="width:100%;"> -->
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Número</mat-label>
          <input matInput [readonly]="existe" placeholder="" type="number" formControlName="numero">
        </mat-form-field>
      </div>
      <div *ngIf="tipoReferente == ('P'||'C')" class="col s4 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo Documento</mat-label>
          <mat-select placeholder="Elija una opción..." formControlName="tipoDocumento">
            <mat-option *ngFor="let aux of tiposDocumentoAll" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="tipoReferente == ('P'||'C')" class="col s8 m8 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>N° Documento</mat-label>
          <input matInput placeholder="" formControlName="nroDocumento">
        </mat-form-field>
      </div>
      <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m6 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Razón Social</mat-label>
          <input matInput placeholder="" formControlName="razonSocial">
        </mat-form-field>
      </div>
      <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m6 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Nombre de Fantasía</mat-label>
          <input matInput placeholder="" formControlName="nombreFantasia">
        </mat-form-field>
      </div>
    <!--</div>-->
    <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m6 l6">
    <div class="row" style="margin-top:5px; ">
      <div class="col s12 m12 l12">
        <h6 style="margin-top:0px !important; margin-bottom: 15px !important;">Dirección de Facturación:</h6>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Calle</mat-label>
          <input matInput placeholder="" formControlName="facCalle">
        </mat-form-field>
      </div>
      <div class="col s10 m10 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código Postal</mat-label>
          <input matInput (keyup)="buscarCPostalFac()" placeholder="" #facCodigoPostal formControlName="facCodigoPostal" >
          <mat-hint *ngIf="forma.controls['facCodigoPostal'].status == 'PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['facCodigoPostal'].errors?.noExiste">
            El código postal no existe
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col s2 m2 l1" style="margin-top:10px;" (click)="abrirConsulta('tg01_localidades', 'facCodigoPostal')">
        <a class="mine-btnforms" mat-flat-button>
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </a>
      </div>
      <div class="col s12 m12 l7">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Ciudad</mat-label>
          <input matInput placeholder="" formControlName="facCiudad" value="{{ localidadFac?.name }}">
        </mat-form-field>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Provincia</mat-label>
          <input matInput placeholder="" formControlName="facProvincia" value="{{ provinciaFac?.name }}">
        </mat-form-field>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>País</mat-label>
          <input matInput placeholder="" formControlName="facPais" value="{{ paisFac?.name }}">
        </mat-form-field>
      </div>
    </div>
    </div>
    <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m6 l6">
    <div class="row" style="margin-top:5px; ">
      <div class="col s12 m12 l12" style="display:flex">
        <h6 style="margin-top:0px !important; margin-bottom: 15px !important;">Dirección de Envío:</h6>
        <a (click)="copiarDireccion()" class="mine-btnbig-grey" mat-flat-button style="height:25px;line-height:0px;margin-left:15px;min-width:40px !important;padding:0 !important">
          <i class="material-icons" style="font-size:16px;margin-top: 4px;">file_copy</i>
        </a>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Calle</mat-label>
          <input matInput placeholder="" formControlName="envCalle">
        </mat-form-field>
      </div>
      <div class="col s10 m10 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código Postal</mat-label>
          <input matInput (keyup)="buscarCPostalEnv()" placeholder="" #envCodigoPostal formControlName="envCodigoPostal">
          <mat-hint *ngIf="forma.controls['envCodigoPostal'].status == 'PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['envCodigoPostal'].errors?.noExiste">
            El código postal no existe
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col s2 m2 l1" style="margin-top:10px;" (click)="abrirConsulta('tg01_localidades', 'envCodigoPostal')">
        <a class="mine-btnforms" mat-flat-button>
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </a>
      </div>
      <div class="col s12 m12 l7">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Ciudad</mat-label>
          <input matInput placeholder="" formControlName="envCiudad" value="{{ localidadEnv?.name }}">
        </mat-form-field>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Provincia</mat-label>
          <input matInput placeholder="" formControlName="envProvincia" value="{{ provinciaEnv?.name }}">
        </mat-form-field>
      </div>
      <div class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>País</mat-label>
          <input matInput placeholder="" formControlName="envPais" value="{{ paisEnv?.name }}">
        </mat-form-field>
      </div>
    </div>
    </div>

      <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Teléfono</mat-label>
          <input  matInput placeholder="" type="number" formControlName="telefono1">
        </mat-form-field>
      </div>
      <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Teléfono Alternativo</mat-label>
          <input  matInput placeholder="" type="number" formControlName="telefono2">
        </mat-form-field>
      </div>
      <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Fax</mat-label>
          <input  matInput placeholder="" type="number" formControlName="telefono3">
        </mat-form-field>
      </div>
      <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>E-mail</mat-label>
          <input  matInput placeholder="" type="text" formControlName="email">
        </mat-form-field>
      </div>
      <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m12 l12">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Observaciones</mat-label>
          <textarea matInput placeholder="" formControlName="observaciones"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=false [disabled]=false style="margin-top:0px;">
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS PARA RELACIONES COMERCIALES</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px; margin-bottom:0px !important;">

      <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m6 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Categoría del referente</mat-label>
          <!-- <input  matInput placeholder="" type="number"> -->
          <mat-select placeholder="Elija una opción..." formControlName="catRef">
            <mat-option *ngFor="let aux of catsReferenteAll" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="tipoReferente == ('C')" class="col s5 m5 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Zona</mat-label>
          <input matInput (keyup)="buscarZona()" placeholder="" type="number" #idZona formControlName="idZona" >
          <mat-hint *ngIf="forma.controls['idZona'].status == 'PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['idZona'].errors?.noExiste">
            La Zona no existe
          </mat-hint>
        </mat-form-field>
      </div>
      <div *ngIf="tipoReferente == ('C')" class="col s1 m1 l1" style="margin-top:10px;" (click)="abrirConsulta('tg01_zonas', 'idZona')">
        <a class="mine-btnforms" mat-flat-button>
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </a>
      </div>
      <div *ngIf="tipoReferente == ('C')" class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Nombre de Zona</mat-label>
          <input matInput placeholder="" formControlName="zonaDesc" value="{{ zona?.name }}">
        </mat-form-field>
      </div>

      <div *ngIf="tipoReferente == ('C')" class="col s5 m6 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Vendedor</mat-label>
          <input matInput (keyup)="buscarVendedor()" placeholder="" #idVendedor formControlName="idVendedor">
          <mat-hint *ngIf="forma.controls['idVendedor'].status == 'PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['idVendedor'].errors?.noExiste">
            El Vendedor no existe
          </mat-hint>
        </mat-form-field>
      </div>
      <div *ngIf="tipoReferente == ('C')" class="col s1 m1 l1" style="margin-top:10px;" (click)="abrirConsulta('tg01_vendedores', 'idVendedor')">
        <a class="mine-btnforms" mat-flat-button>
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </a>
      </div>
      <div *ngIf="tipoReferente == ('C')" class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Nombre de Vendedor</mat-label>
          <input matInput placeholder="" formControlName="vendedorDesc" value="{{ vendedor?.name }}">
        </mat-form-field>
      </div>

      <div *ngIf="tipoReferente == ('C')" class="col s5 m5 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Cobrador</mat-label>
          <input matInput (keyup)="buscarCobrador()" placeholder="" #idCobrador formControlName="idCobrador" >
          <mat-hint *ngIf="forma.controls['idCobrador'].status == 'PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['idCobrador'].errors?.noExiste">
            El Cobrador no existe
          </mat-hint>
        </mat-form-field>
      </div> 
      <div *ngIf="tipoReferente == ('C')" class="col s1 m1 l1" style="margin-top:10px;" (click)="abrirConsulta('tg01_vendedores', 'idCobrador')">
        <a class="mine-btnforms" mat-flat-button>
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </a>
      </div>
      <div *ngIf="tipoReferente == ('C')" class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Nombre de Cobrador</mat-label>
          <input matInput placeholder="" formControlName="cobradorDesc" value="{{ cobrador?.name }}">
        </mat-form-field>
      </div>
      
      <!-- parametrización -->
      <div *ngIf="tipoReferente == ('P'||'C')" >
        <div class="col s5 m2 l2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Lista de precios</mat-label>
            <input matInput (keyup)="buscarListaPrecios()" placeholder="" #idListaPrecios formControlName="idlistaPrecios" >
            <mat-hint *ngIf="forma.controls['idlistaPrecios'].status == 'PENDING'">
              Buscando código...
            </mat-hint>
            <mat-hint *ngIf="forma.controls['idlistaPrecios'].errors?.noExiste">
              La lista de Precios no existe
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col s1 m1 l1" style="margin-top:10px;" (click)="abrirConsulta('tglp_tg_listasprecios', 'idlistaPrecios')">
          <a class="mine-btnforms" mat-flat-button>
            <i class="material-icons" style="font-size:20px;">more_horiz</i>
          </a>
        </div>
        <div class="col s6 m3 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Nombre Lista</mat-label>
            <input matInput placeholder="" formControlName="descListaPrecios" value="{{listaPrecios?.name}}">
          </mat-form-field>
        </div>
      </div>
      
      <div *ngIf="tipoReferente == ('P'||'C')">
        <div class="col s5 m2 l2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Condición Comercialización</mat-label>
            <input matInput (keyup)="buscarCondComercial()" placeholder="" #condComercial formControlName="condComercial" >
            <mat-hint *ngIf="forma.controls['condComercial'].status == 'PENDING'">
              Buscando código...
            </mat-hint>
            <mat-hint *ngIf="forma.controls['condComercial'].errors?.noExiste">
              La condición no existe
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col s1 m1 l1" style="margin-top:10px;" (click)="abrirConsulta('tg01_condicioncomercial', 'condComercial')">
          <a class="mine-btnforms" mat-flat-button>
            <i class="material-icons" style="font-size:20px;">more_horiz</i>
          </a>
        </div>
        <div class="col s6 m3 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Descripción Condición</mat-label>
            <input matInput placeholder="" formControlName="descCondComercial" value="{{condicionComercial?.name}}" >
          </mat-form-field>
        </div>
      </div>
      
      <div *ngIf="tipoReferente == ('P'||'C')">
        <div class="col s5 m2 l2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Partida Presupuestaria</mat-label>
            <input matInput (keyup)="buscarPartidaPresupuestaria()" placeholder="" #idPartidaPresupuestaria formControlName="idPartidaPresupuestaria" >
            <mat-hint *ngIf="forma.controls['idPartidaPresupuestaria'].status == 'PENDING'">
              Buscando código...
            </mat-hint>
            <mat-hint *ngIf="forma.controls['idPartidaPresupuestaria'].errors?.noExiste">
              La Partida no existe
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col s1 m1 l1" style="margin-top:10px;" (click)="abrirConsulta('tg01_partidaspresupuestarias', 'idPartidaPresupuestaria')">
          <a class="mine-btnforms" mat-flat-button>
            <i class="material-icons" style="font-size:20px;">more_horiz</i>
          </a>
        </div>
        <div class="col s6 m3 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Desc. Partida Presupuestaria</mat-label>
            <input matInput placeholder="" formControlName="descPartidaPresupuestaria" value="{{partidaPresupuestaria?.NAME}}">
          </mat-form-field>
        </div>
      </div>  

      <div *ngIf="tipoReferente == ('P'||'C')">
        <div class="col s5 m2 l2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Referencia Contable</mat-label>
            <input matInput (keyup)="buscarRefContable()" placeholder="" #refContable formControlName="refContable" >
            <mat-hint *ngIf="forma.controls['refContable'].status == 'PENDING'">
              Buscando código...
            </mat-hint>
            <mat-hint *ngIf="forma.controls['refContable'].errors?.noExiste">
              La Partida no existe
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col s1 m1 l1" style="margin-top:10px;" (click)="abrirConsulta('tg01_referenciascontables', 'refContable')">
          <a class="mine-btnforms" mat-flat-button>
            <i class="material-icons" style="font-size:20px;">more_horiz</i>
          </a>
        </div>
        <div class="col s6 m3 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Desc. Referencia Contable</mat-label>
            <input matInput placeholder="" formControlName="descRefContable" value="{{referenciaContable?.name}}">
          </mat-form-field>
        </div>      
      </div>

      <div *ngIf="tipoReferente == ('P'||'C')">
        <div class="col s5 m2 l2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Tipo de Comprobante</mat-label>
            <input matInput (keyup)="buscarTipoComprobante()" placeholder="" #idTipoComprobante formControlName="idTipoComprobante" >
            <mat-hint *ngIf="forma.controls['idTipoComprobante'].status == 'PENDING'">
              Buscando código...
            </mat-hint>
            <mat-hint *ngIf="forma.controls['idTipoComprobante'].errors?.noExiste">
              El Tipo de Comprobante no existe
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col s1 m1 l1" style="margin-top:10px;" (click)="abrirConsulta('tg01_tipocomprobante', 'idTipoComprobante')">
          <a class="mine-btnforms" mat-flat-button>
            <i class="material-icons" style="font-size:20px;">more_horiz</i>
          </a>
        </div>
        <div class="col s6 m3 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Desc. Tipo de Comprobante</mat-label>
            <input matInput placeholder="" formControlName="descTipoComprobante" value="{{tipoComprobante?.name}}">
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="tipoReferente == ('C')" class="col s6 m6 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Límite de crédito</mat-label>
          <input matInput placeholder="" type="number" formControlName="limiteCredito">
        </mat-form-field>
      </div>
    </div>


<!-- relacion cuentas bancarias -->
    <!-- <form [formGroup]="formaCtaBancaria" novalidate="novalidate"> -->
    <div *ngIf="tipoReferente == ('P'||'C')">
      <div class="row" style="margin-top:0px; margin-bottom:0px !important;">
        <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
          <span style="display:flex;">
            <h6>Lista de Cuentas Bancarias:</h6>
            <a (click)="addCuentaBanc()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
              +
            </a>
          </span>
        </div>
      </div>
      <!-- linea siguiente -->
        <!-- <div formArrayName="cuentas" *ngFor="let ctas of forma.controls.cuentas?.value; let i = index"> -->
      <div formArrayName="cuentas" *ngFor="let ctas of forma.controls.cuentas?.controls; let i = index">
        <ng-container [formGroupName]="i">
          <div class="row" style="margin:5px !important;">

            <div class="col s12 m12 l5">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>CBU</mat-label>
                <input matInput placeholder="" type="number" formControlName="rcCbu">
              </mat-form-field>
            </div>
            <div class="col s12 m3 l2">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Tipo de cuenta</mat-label>
                <mat-select placeholder="Elija una opción" formControlName="rcTipo">
                  <mat-option value="1">Cuenta corriente</mat-option>
                  <mat-option value="2">Caja de ahorro</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s6 m4 l2">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Cuenta bancaria</mat-label>
                <input matInput placeholder="" type="number" formControlName="rcCuentaBancaria">
              </mat-form-field>
            </div>
            <div class="col s3 m3 l2">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Código de sucursal</mat-label>
                <input matInput placeholder="" type="number" formControlName="rcCodigoSucursal">
              </mat-form-field>
            </div>
            <div class="col s3 m2 l1">
              <a (click)="deleteCuentasBanc(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
                -
              </a>
              <!-- <a (click)="forma.get('items').removeAt(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">-</a> -->
              <!-- <a (click)="forma.controls.cuentas?.removeAt(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">-</a> -->

            </div>
          </div>
        </ng-container>
      </div>
    </div>
      <!-- </form> -->
    <!-- fin relacion -->

    <div class="row" style="margin-top:25px; margin-bottom:0px !important;">
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Estado</mat-label>
          <mat-select placeholder="Elija una opción">
            <mat-option value="1">Pendiente</mat-option>
            <mat-option value="2">Activo</mat-option>
            <mat-option value="3">Inactivo</mat-option>
            <mat-option value="4">Baja</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Categoría de Bloqueo</mat-label>
          <mat-select placeholder="Elija una opción..." formControlName="catBloq">
            <mat-option *ngFor="let aux of catsBloqueoAll" [value]="aux.id">
              {{aux.codigo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=false [disabled]=false style="margin-top:0px;">
   <mat-expansion-panel-header>
     <mat-panel-title>DATOS DE IMPUESTOS</mat-panel-title>
   </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px; margin-bottom:0px !important;">
      <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m6 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Situación IVA</mat-label>
          <mat-select placeholder="Elija una opción..." formControlName="sitIVA">
            <mat-option *ngFor="let aux of catIVAAll" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
       </mat-form-field>
     </div>
     <div *ngIf="tipoReferente == ('P'||'C')" class="col s12 m6 l4">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>CUIT</mat-label>
         <input matInput placeholder="" formControlName="cuit">
       </mat-form-field>
     </div>
     <div class="col s12 m12 l4">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>Estado según AFIP</mat-label>
         <input matInput placeholder="">
       </mat-form-field>
     </div>
     <div *ngIf="tipoReferente == ('P')" class="col s12 m6 l6">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>CAI</mat-label>
         <input matInput placeholder="" formControlName="cai">
       </mat-form-field>
     </div>
     <div *ngIf="tipoReferente == ('P')" class="col s12 m6 l6">
       <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
         <mat-label>Fecha Vencimiento CAI</mat-label>
         <input matInput readonly [matDatepicker]="pickerCai" placeholder="" formControlName="fechaVtoCai">
         <mat-datepicker-toggle matSuffix [for]="pickerCai"></mat-datepicker-toggle>
         <mat-datepicker #pickerCai></mat-datepicker>
       </mat-form-field>
     </div>
     
     <div *ngIf="tipoReferente == ('C')" class="col s12 m6 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>CUIT del Exterior</mat-label>
          <input matInput placeholder="" formControlName="cuitExterior">
        </mat-form-field>
     </div>
     <div *ngIf="tipoReferente == ('C')" class="col s12 m6 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Id Impositivo</mat-label>
          <input matInput placeholder="" formControlName="idImpositivo">
        </mat-form-field>
     </div>
    
      <!-- relacion lista de impuestos -->
      <!-- todo agregar visibilidades -->
      <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
        <span style="display:flex;">
          <h6>Lista de Impuestos:</h6>
          <a (click)="addImpuesto()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
            +
          </a>
        </span>
      </div>
      <!-- <form [formGroup]="formaImpuesto" novalidate="novalidate"> -->
      <div formArrayName="impuestos" *ngFor="let imps of forma.controls.impuestos?.controls; let i = index">
        <ng-container [formGroupName]="i">
          <div class="row" style="margin:5px !important;">
            <div class="col s6 m4 l3">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Tipo</mat-label>
                <mat-select placeholder="Elija una opción..." formControlName="tipo">
                  <!-- <mat-option *ngFor="let aux of impuestosAll" [value]="aux.id"> -->
                  <mat-option *ngFor="let aux of impuestosAll" [value]="aux.idtipoimpuesto">
                    {{aux.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s6 m4 l3">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Modelo</mat-label>
                <mat-select placeholder="Elija una opción..." formControlName="modelo">
                  <mat-option *ngFor="let aux of modelosImpAll" [value]="aux.id">
                    {{aux.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s6 m4 l3">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Situación</mat-label>
                <mat-select placeholder="Elija una opción" formControlName="situacion">
                  <mat-option value="1">Exento</mat-option>
                  <mat-option value="2">Inscripto</mat-option>
                  <mat-option value="3">No inscripto</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s6 m4 l3">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Código inscripción</mat-label>
                <input matInput placeholder="" formControlName="codInscripcion" style="text-align: right;"
                value="">
              </mat-form-field>
            </div>
            <div class="col s4 m2 l3">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Fecha Inscripción</mat-label>
                <input matInput readonly [matDatepicker]="picker" placeholder="" formControlName="fechaInscripcion">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            
            <div class="col s9 m3 l4">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Observaciones </mat-label>
                <input matInput placeholder="" formControlName="observaciones">
              </mat-form-field>
            </div>
            <div class="col s1 m1 l1">
              <a (click)="deleteImpuesto(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
                -
              </a>
            </div>
            
            <div class="row">
              <div class="col s4 m2 l2" *ngIf="this.forma.controls.impuestos.controls[i].value['poseeExenciones']">
                <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                  <mat-label>Fecha Desde</mat-label>
                  <input matInput readonly [matDatepicker]="picker1" placeholder="" formControlName="fechaDesde">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col s4 m2 l2" *ngIf="this.forma.controls.impuestos.controls[i].value['poseeExenciones']">
                <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                  <mat-label>Fecha Hasta</mat-label>
                  <input matInput readonly [matDatepicker]="picker2" placeholder="" formControlName="fechaHasta">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!-- <div class="col s6 m4 l4" style="margin-top:12px;"> -->
            <div class="col s6 m4 l4">
              <!-- <mat-form-field appearance="outline" floatLabel="always" style="width:100%;"> -->
                <mat-checkbox style="margin-top:12px !important;" #poseeExenc formControlName="poseeExenciones">¿Posee exenciones?</mat-checkbox>
              <!-- </mat-form-field> -->
            </div>
                <!-- <span style="display:flex;">
                  <h6>Exenciones:</h6>
                  <a (click)="addExencion(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
                    +
                  </a>
                </span> -->
                
                <!-- relacion impuestos exenciones -->
                <!-- <div class="col s12 m12 l12" style="margin-top:0px !important; margin-bottom: 15px !important; margin-left: 30px !important;"
                     *ngIf="this.forma.controls.impuestos.controls[i].value['poseeExenciones']"> -->

              <!-- exenciones (array dentro de array) comentado, no era necesario y se deja como ejemplo -->

              <!-- <div formArrayName="exenciones" *ngFor="let exe of forma.get(['impuestos',i,'exenciones']).controls; let j = index">
              
                <ng-container [formGroupName]="j">
                  <div class="row" style="margin:5px !important;">
                    <div class="col s12 m2 l1">
                      <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                        <mat-label>Número </mat-label>
                        <input matInput placeholder="" formControlName="nroExcencion">
                      </mat-form-field>
                    </div>
                    <div class="col s6 m3 l3">
                    <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                      <mat-label>Fecha Desde</mat-label>
                      <input matInput [matDatepicker]="picker1" placeholder="" formControlName="fechaDesde">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    </div>
                    <div class="col s6 m3 l3">
                    <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                      <mat-label>Fecha Hasta</mat-label>
                      <input matInput [matDatepicker]="picker2" placeholder="" formControlName="fechaHasta">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    </div>
                    <div class="col s9 m3 l4">
                      <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                        <mat-label>Observaciones </mat-label>
                        <input matInput placeholder="" formControlName="observaciones">
                      </mat-form-field>
                    </div>
                    <div class="col s3 m1 l1">
                      <a (click)="deleteExencion(i,j)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
                        -
                      </a>
                    </div>
                  </div>
                </ng-container>
              </div> -->

            <!-- </div> -->
            <!-- <div class="col s1 m1 l1">
              <a (click)="deleteImpuesto(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
                -
              </a>
            </div> -->
          </div>
        </ng-container>
      </div>
      <!-- relacion formularios -->
        <!-- <form [formGroup]="formaFormulario" novalidate="novalidate"> -->
      
      <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
        <span style="display:flex;">
          <h6>Lista de Formularios/Documentos:</h6>
          <a (click)="addFormulario()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
            +
          </a>
        </span>
      </div>

      <div formArrayName="formularios" *ngFor="let formulario of forma.get(['formularios']).controls; let j = index">
        <ng-container [formGroupName]="j">
          <!-- <div class="row" *ngFor="let item of formularios; let in = index" style="margin:5px !important;"> -->
          <div class="row" style="margin:5px !important;">
            <div class="col s12 m3 l3">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Formulario</mat-label>
                <mat-select placeholder="Elija una opción..." formControlName="codForm">
                  <mat-option *ngFor="let aux of formulariosAll" [value]="aux.id">
                    {{aux.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s12 m3 l3">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Fecha de Presentación</mat-label>
                <input matInput readonly [matDatepicker]="picker2" placeholder="" formControlName="fechaPres">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col s12 m3 l3">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Fecha de Vencimiento</mat-label>
                <input matInput readonly [matDatepicker]="picker3" placeholder="" formControlName="fechaVenc">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col s6 m3 l3">
              <a (click)="deleteFormulario(j)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
                -
              </a>
            </div>
          </div>          
        </ng-container>
      </div>
      <!--fin relacion-->
      <!-- </div> -->
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="tipoReferente == ('P')" [expanded]=false [disabled]=false style="margin-top:0px;">
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS DE STOCK</mat-panel-title>
    </mat-expansion-panel-header>

    <!-- relacion stock -->
    <!-- <form [formGroup]="formaArticulo" novalidate="novalidate"> -->
    <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
      <span style="display:flex;">
        <h6>Artículos en Stock:</h6>
        <a (click)="addArticulosStock()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
          +
        </a>
      </span>
    </div>

    <div formArrayName="articulos" *ngFor="let art of forma.controls.articulos?.controls; let i = index">
      <ng-container [formGroupName]="i">
        <div class="row" style="margin:5px !important;">
          <div class="col s3 m2 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>ID Artículo</mat-label>
              <input matInput (keyup)="buscarArticulo(i)" placeholder="" #artId formControlName="artID">
              <!-- <mat-hint *ngIf="forma.controls.articulos[i].controls['artID'].status == 'PENDING'"> -->
              <!-- <mat-hint *ngIf="forma.controls.articulos.value[i]['artID'].status == 'PENDING'"> -->
              <mat-hint *ngIf="art.controls['artID'].status == 'PENDING'">
                Buscando código...
              </mat-hint>
              <mat-hint *ngIf="art.controls['artID'].errors?.noExiste">
                El artículo no existe
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col s1 m1 l1" style="margin-top:10px;">
            <a class="mine-btnforms" mat-flat-button (click)="abrirConsulta('c_articulos', 'artID')">
              <i class="material-icons" style="font-size:20px;">more_horiz</i>
            </a>
          </div>
          <div class="col s5 m6 l4">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Descripción Artículo</mat-label>
              <!-- <input matInput placeholder="" disabled formControlName="artDesc" value="{{articulo?.descripcion}}"> -->
              <input matInput placeholder="" disabled formControlName="artDesc" value="">
            </mat-form-field>
          </div>
          <div class="col s5 m3 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Fecha última compra</mat-label>
            <input matInput readonly [matDatepicker]="picker" placeholder="" formControlName="ultimaFecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          </div>
          <div class="col s5 m3 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Precio última compra</mat-label>
              <input matInput placeholder="" type="number" formControlName="ultimoPrecio" value="">
            </mat-form-field>
          </div>
          <div class="col s5 m4 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Moneda</mat-label>
              <mat-select placeholder="Elija una opción..." formControlName="moneda">
                <mat-option *ngFor="let aux of monedasAll" [value]="aux.id">
                  {{aux.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s5 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Código artículo proveedor</mat-label>
              <input matInput placeholder="" type="number" style="text-align: right;" formControlName="codArtProv"
              value="">
            </mat-form-field>
          </div>
          <div class="col s10 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Código barra proveedor</mat-label>
              <input matInput placeholder="" style="text-align: right;" formControlName="barrasArtProv"
              value="">
            </mat-form-field>
          </div>
          <div class="col s2 m2 l1">
            <a (click)="deleteArticulosStock(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
              -
            </a>
          </div>
        </div>
      </ng-container>
    </div>
    <!-- </form> -->
    <!--fin relacion-->
  </mat-expansion-panel>

  <div class="row" style="margin-top:25px;">
    <div class="col s12" style="text-align: right;">
      <button type="submit" class="mine-btnbig" mat-flat-button style="margin-right:10px;" >
        GUARDAR
      </button>
      <button type="reset" class="mine-btnbig-grey" mat-flat-button>
        CANCELAR
      </button>
      <!-- <button (click)="testValidez()" type="button" class="mine-btnbig-grey" mat-flat-button>
        CANCELAR
      </button> -->
    </div>
  </div>

</form>
<app-cons-din></app-cons-din>