<h2>CUENTAS CONTABLES</h2>
<button [routerLink]="['/plan-cuentas/alta','nuevo']" class="mine-btnbig" mat-flat-button style="margin-right:10px;">
  NUEVA CUENTA RAÍZ
</button>
<!--<button [routerLink]="['/plan-cuentas','nuevo',selection.selected[0].nomenclador]" class="mine-btnbig" mat-flat-button
  *ngIf="selection.selected.length==1 && selection.selected[0].imputable==0" style="margin-right:10px;">
  NUEVA CUENTA HIJA
</button>
<button (click)="verSelect()" class="mine-btnbig-grey" mat-flat-button style="margin-right:10px;" *ngIf="false">
  ver seleccionados (borrar)
</button>

  <app-loading *ngIf="loading"></app-loading>-->
<div style="margin-top:20px;">
  <app-tablapc #compTablaPC></app-tablapc>
</div>