<div style="border-style: solid; border-width: 1px; padding: 1%; margin-bottom: 1%;border-color: #66727d; border-radius: 5px;">
<div class="row">
  <mat-form-field appearance="outline" floatLabel="always" style="width:30%; margin-right: 1%">
    <mat-label>Cuenta</mat-label>
    <input matInput [(ngModel)]="linea.Nro_RefContable" readonly>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always" style="width:30%; margin-right: 1%">
    <mat-label>Descripcion</mat-label>
    <mat-select [(value)]="linea.Descripcion" (selectionChange)="seleccionarTipoImpuesto($event.value)">
      <mat-option *ngFor="let tipo of tipo_impuestos" [value]="tipo.name">
        {{tipo.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always" style="width:30%; margin-right: 1%">
    <mat-label>Impuesto</mat-label>
    <mat-select [(value)]="linea.Concepto" (selectionChange)="seleccionarImpuesto($event.value)">
      <mat-option *ngFor="let impuesto of impuestos" [value]="impuesto.Nombre_Impuesto">
        {{impuesto.Nombre_Impuesto}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always" style="width:30%; margin-right: 1%">
    <mat-label>Imponible</mat-label>
    <input matInput [value]="linea.Imponible">
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always" style="width:30%; margin-right: 1%">
    <mat-label>Importe</mat-label>
    <input matInput [(ngModel)]="linea.MontoRetenido">
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always" style="width:30%; margin-right: 1%">
    <mat-label>Observaciones</mat-label>
    <input matInput [(ngModel)]="linea.Observaciones">
  </mat-form-field>
</div>

<!-- BOTONES -->
<div class="row">
  <button mat-raised-button (click)="guardar()" style="float: right; margin-right: 1%;background-color: #f08377" [hidden]="linea.ID_Renglon != 0">Guardar</button>
  <button mat-raised-button (click)="actualizar()" style="float: right; margin-right: 1%;background-color: #f08377" [hidden]="linea.ID_Renglon == 0">Actualizar</button>
  <button mat-raised-button color="warn" (click)="cancelar()" style="float: right; margin-right: 1%;background-color: #808080;">Cancelar</button>
</div>
</div>
