<h2>REFERENCIAS CONTABLES</h2>
<button [routerLink]="['/ref-contables']" class="mine-btnbig-grey" mat-flat-button style="margin-right:10px;">
  VOLVER A LISTA
</button>
<button (click)="eliminarRefContables()" class="mine-btnbig" mat-flat-button style="margin-right:10px;" *ngIf="esnuevo">
  ELIMINAR
</button>

<app-loading *ngIf="loading"></app-loading>
<form [formGroup]="forma" (ngSubmit)="guardarRefContables()" novalidate="novalidate">

  <mat-expansion-panel [expanded]=true [disabled]=true style="margin-top:10px;" [ngStyle]="{'display':loading ? 'none' : 'block' }">
    <mat-expansion-panel-header>
      <mat-panel-title>BÁSICO</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px; margin-bottom:0px !important;">
      <div class="col s4 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código Referencia Contable</mat-label>
          <input matInput placeholder="" type="number" formControlName="id_ref_contable">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s8 m8 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="" formControlName="nombre_ref_contable">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    <!-- </div> -->
    <!-- <div class="row" style="margin-top:15px; margin-bottom:0px !important;"> -->
      <div class="col s4 m2 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Cuenta Contable</mat-label>
          <input (keyup)="buscarCuenta()" #codCuenta matInput placeholder="" formControlName="cuenta_contable">
          <!-- <input (keyup)="buscarGrupo()" #codGrupo matInput placeholder="" formControlName="idGrupo" value="{{ datosArticulos[0]?. }}"> -->
          <mat-hint *ngIf="forma.controls['cuenta_contable'].status == 'PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['cuenta_contable'].errors?.noExiste">
            El Grupo no existe
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col s1 m1 l1" style="margin-top:10px;">
        <button type="button" class="mine-btnforms" mat-flat-button 
        (click)="abrirConsulta('tg01_cuentascontables', [], 'cuenta_contable', 'nombreCuenta', 'openSnackBar', i)">
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </button>
      </div>
      <div class="col s7 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Nombre de Cuenta Contable</mat-label>
          <input matInput readonly formControlName="nombreCuenta" placeholder="" >
        </mat-form-field>
      </div>

      <div class="col s4 m2 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Grupo Financiero</mat-label>
          <input (keyup)="buscarGrupo()" #codCuenta matInput placeholder="" formControlName="grupo_financiero">
          <!-- <input (keyup)="buscarGrupo()" #codGrupo matInput placeholder="" formControlName="idGrupo" value="{{ datosArticulos[0]?. }}"> -->
          <mat-hint *ngIf="forma.controls['grupo_financiero'].status == 'PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['grupo_financiero'].errors?.noExiste">
            El Grupo no existe
          </mat-hint>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s1 m1 l1" style="margin-top:10px;">
        <button type="button" class="mine-btnforms" mat-flat-button 
        (click)="abrirConsulta('tg01_grupofinanciero', [], 'grupo_financiero', 'nombreGrupo', 'openSnackBar', i)">
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </button>
      </div>
      <div class="col s7 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Nombre de Grupo Financiero</mat-label>
          <input matInput readonly formControlName="nombreGrupo" placeholder="" >
        </mat-form-field>
      </div>


      
      <div class="col s5 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>¿Tiene Centro de Costo?</mat-label>
          <mat-select formControlName="tiene_centro_costo"  placeholder="Elija una opción">
            <mat-option value="0">No tiene</mat-option>
            <mat-option value="1">Único</mat-option>
            <mat-option value="2">Varios</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s5 m6 l3">
        <mat-form-field *ngIf="tieneCC" appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Centro de Costo</mat-label>
          <input matInput placeholder="" formControlName="centro_costo">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s2 m2 l1" style="margin-top:10px;">
        <a class="mine-btnforms" mat-flat-button *ngIf="tieneCC">
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </a>
      </div>

      <!-- <div class="col s12 m12 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado_ref_contable" placeholder="Elija una opción">
            <mat-option value="0">Inactivo</mat-option>
            <mat-option value="1">Activo</mat-option>
          </mat-select>
          !--<mat-hint>Hint</mat-hint>->
        </mat-form-field>
      </div> -->
    </div>

  </mat-expansion-panel>

  <div class="row" style="margin-top:15px;">
    <div class="col s12" style="text-align: right;">
      <button type="submit" class="mine-btnbig" mat-flat-button style="margin-right:10px;" [disabled]="!forma.valid">
        GUARDAR
      </button>
      <button type="reset" class="mine-btnbig-grey" mat-flat-button style="margin-right:10px;">
        REINICIAR VALORES
      </button>
    </div>
  </div>
</form>
<app-cons-din></app-cons-din>