<h2>CONSULTA DE CERTIFICADOS</h2>

<div class="row" style="margin-top:10px; margin-bottom:5px;">
  <div class="row" style="margin-top:15px; margin-bottom:0px !important;">
    
      <div class="col s6 m6 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Proveedor</mat-label>
          <input (keyup)="buscarProveedorCrd()" FormControlName="prov"  #codigoProv matInput placeholder="">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Razón Social</mat-label>
          <input matInput placeholder="" formControlName="razonSocial">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>CUIT</mat-label>
          <input matInput placeholder="">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
  </div>
  <div class="row" style="margin-top:0px; margin-bottom:10px !important;">
    <div class="col s6 m3 l1" style="padding-left:2px;">
      <button class="mine-btnbig" mat-flat-button disabled>
        CONSULTAR
      </button>
    </div>
    <div class="col s6 m4 l1">
      <button class="mine-btnbig" mat-flat-button disabled>
        IMPRIMIR
      </button>
    </div> 
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      
      <!-- Position Column -->
      <ng-container matColumnDef="ncrd">
        <th mat-header-cell *matHeaderCellDef> Certificado </th>
        <td mat-cell *MatCellDef="let element"> {{element.ncrd}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *MatCellDef="let element"> {{element.fecha}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="npro">
        <th mat-header-cell *matHeaderCellDef> Proveedor </th>
        <td mat-cell *MatCellDef="let element"> {{element.npro}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Razon Social </th>
        <td mat-cell *MatCellDef="let element"> {{element.name}} </td>
      </ng-container>
      
      <!-- Symbol Column -->
      <ng-container matColumnDef="cuit_c">
        <th mat-header-cell *matHeaderCellDef> Cuit </th>
        <td mat-cell *MatCellDef="let element"> {{element.cuit_c}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="pexp">
        <th mat-header-cell *matHeaderCellDef> pexp </th>
        <td mat-cell *MatCellDef="let element"> {{element.pexp}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="nexp">
        <th mat-header-cell *matHeaderCellDef> Expediente </th>
        <td mat-cell *MatCellDef="let element"> {{element.nexp}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="opub">
        <th mat-header-cell *matHeaderCellDef> OPublicidad </th>
        <td mat-cell *MatCellDef="let element"> {{element.opub}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="tcom">
        <th mat-header-cell *matHeaderCellDef> Tipo Comprobante </th>
        <td mat-cell *MatCellDef="let element"> {{element.tcom}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="ncomr">
        <th mat-header-cell *matHeaderCellDef> Nro. Comprobante </th>
        <td mat-cell *MatCellDef="let element"> {{element.ncomr}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Importe </th>
        <td mat-cell *MatCellDef="let element"> {{element.total}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>