<h2>CERTIFICADOS DE RECEPCIÓN DEFINITIVA</h2>
<app-loading *ngIf="loading"></app-loading>

<mat-expansion-panel [expanded]=true [disabled]=true [ngStyle]="{'display':loading ? 'none' : 'block' }">
  <mat-expansion-panel-header>
    <mat-panel-title>
      PROVEEDOR
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="row" style="margin-top:15px; margin-bottom:20px !important;" *ngIf="!loading">
        <div class="col s8 m4 l2">
          <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Código</p>
          <p style="margin-top:7px;">{{ id }}</p>
            <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Proveedor</mat-label>
              <input matInput #codigoProv placeholder="" readonly formControlName="proveedor" value="{{id}}">
            </mat-form-field>-->

          </div>
          <div class="col s4 m4 l4">
            <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Razón Social</p>
            <p style="margin-top:7px;">{{ RazonSocial }}</p>
            <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Razón Social</mat-label>
              <input matInput placeholder="" formControlName="razonSocial" readonly value="{{ RazonSocial }}">
            </mat-form-field>-->
          </div>
          <div class="col s12 m2 l2">
            <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">CUIT</p>
            <p style="margin-top:7px;">{{ cuitc }}</p>
            <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>CUIT</mat-label>
              <input matInput placeholder="" formControlName="cuit" readonly value="{{ cuitc }}">
            </mat-form-field>-->
          </div>
        </div>

  <!--<div class="row" style="margin-top:0px; margin-bottom:10px !important;" >
    <div class="col s6 m3 l1" style="padding-left:2px;">
      <button (click)="consultar()" class="mine-btnbig" mat-flat-button>
        CONSULTAR
      </button>
    </div>
    <div class="col s6 m4 l1">
      <button (click)="print()" class="mine-btnbig" mat-flat-button>
        IMPRIMIR
      </button>
    </div>
  </div>-->

  <div id="tableCrd" class="mat-elevation-z8">

    <table  #tableConsultaCrd mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1" *ngIf="!loading">

      <!-- Certificado Column -->
      <ng-container matColumnDef="ncrd">
        <th mat-header-cell *matHeaderCellDef> Certificado </th>
        <td mat-cell *cdkCellDef="let element"> {{ element.ncrd }} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="fech">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *cdkCellDef="let element"> {{ element.fech | date: 'dd-MM-yyyy' }} </td>
      </ng-container>

      <!-- Expediente Column -->
      <ng-container matColumnDef="pexp">
        <th mat-header-cell *matHeaderCellDef> Expediente</th>
        <td mat-cell *cdkCellDef="let element"> {{ element.pexp + "-" + element.nexp}} </td>
      </ng-container>

      <!-- O. Compra Column -->
      <ng-container matColumnDef="opub">
        <th mat-header-cell *matHeaderCellDef> O. Compra </th>
        <td mat-cell *cdkCellDef="let element"> {{ element.opub }} </td>
      </ng-container>

      <!-- Comprobante Column -->
      <ng-container matColumnDef="ncomr">
        <th mat-header-cell *matHeaderCellDef> Comprobante</th>
        <td mat-cell *cdkCellDef="let element"> {{ element.tcom + "-" + element.ncomr}} </td>
      </ng-container>


      <!-- Importe Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef style="text-align:right;"> Importe </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:right;"> $ {{ element.total | number:'1.2-2'}} </td>
      </ng-container>

      <!-- accion Column -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:right;">
          <i (click)="print(element.nint)" class="material-icons" style="cursor: pointer">print</i>
        </td>
      </ng-container>

      <tr mat-header-row *cdkHeaderRowDef="['ncrd', 'fech', 'pexp', 'opub', 'ncomr', 'total', 'accion']"></tr>
      <tr mat-row *cdkRowDef="let row; columns: ['ncrd', 'fech', 'pexp', 'opub', 'ncomr', 'total', 'accion'];"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons [ngStyle]="{'display':loading ? 'none' : 'block' }"></mat-paginator>

  </div>

</mat-expansion-panel>
