<h2>CONSULTA DE CERTIFICADOS</h2>

<div class="row" style="margin-top:10px; margin-bottom:5px;">
  <div class="row" style="margin-top:15px; margin-bottom:0px !important;">
    
      <div class="col s6 m6 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Proveedor</mat-label>
          <input (keyup)="buscarProveedor()" #codProv matInput placeholder="" FormControlName="proveedor">
          <!--<mat-hint>Hint</mat-hint>-->
          <mat-hint *ngIf="forma.status=='PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['proveedor'].errors?.noExiste">
            El proveedor no existe
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Razón Social</mat-label>
          <input matInput placeholder="" formControlName="razonSocial" value="{{ compraProveedor?.razon_social }}">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>CUIT</mat-label>
          <input matInput placeholder="">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
  </div>
  <div class="row" style="margin-top:0px; margin-bottom:10px !important;">
    <div class="col s6 m3 l1" style="padding-left:2px;">
      <button class="mine-btnbig" mat-flat-button disabled>
        CONSULTAR
      </button>
    </div>
    <div class="col s6 m4 l1">
      <button class="mine-btnbig" mat-flat-button disabled>
        IMPRIMIR
      </button>
    </div> 
  </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column 
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>-->

      <!-- Position Column -->
      <ng-container matColumnDef="certificado">
        <th mat-header-cell *matHeaderCellDef> Certificado </th>
        <td mat-cell *matCellDef="let element"> {{element.certificado}} </td>
      </ng-container>


      <!-- Weight Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="expediente">
        <th mat-header-cell *matHeaderCellDef> Expediente </th>
        <td mat-cell *matCellDef="let element"> {{element.expediente}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="opublicidad">
        <th mat-header-cell *matHeaderCellDef> O.Publicidad </th>
        <td mat-cell *matCellDef="let element"> {{element.opublicidad}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="comprobante">
        <th mat-header-cell *matHeaderCellDef> Comprobante </th>
        <td mat-cell *matCellDef="let element"> {{element.comprobante}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef> Importe </th>
        <td mat-cell *matCellDef="let element"> {{element.importe}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons class="mat-elevation-z1"></mat-paginator>
</div>

