<ngx-smart-modal #consDinModalN2 
                 customClass="overlay-cons-din2" 
                 [identifier]="'consDinModalN2'"
                 [closable]="false"
                 [dismissable]="false"
                 [escapable]="false"
                 >
<div class="modal-header">
    
</div>
<div class="modal-body"  style="max-width: 2000px !important;">
  <app-consulta-dinamica [nivel]="2"></app-consulta-dinamica>
</div>
<div class="modal-footer">
    <button type="button" class="mine-btnbig" (click)="aplicar()">Aplicar</button>
    <button type="button" class="mine-btnbig" (click)="cancelar()">Cancelar</button>
</div>
</ngx-smart-modal>


