<ngx-smart-modal #consDinModalN2 
                 customClass="overlay-cons-din2" 
                 [identifier]="'consDinModalN2'"
                 [closable]="false"
                 [dismissable]="false"
                 [escapable]="false"
                 >

  <div class="modal-body"  style="max-width: 2000px !important;">
    <app-consulta-dinamica [nivel]="2"></app-consulta-dinamica>
  </div>

  <div style="margin-top: 10px; width: 100%; text-align: right;">
      <button mat-flat-button class="mine-btnbig" (click)="aplicar()">APLICAR</button>
      <button mat-flat-button class="mine-btnbig-grey" Style="margin-left: 5px" (click)="cancelar()">CANCELAR</button>
  </div>
</ngx-smart-modal>


