<ngx-smart-modal #cdTablaModal 
                 customClass="overlay-columnas-n2"
                 [identifier]="'cdTablaModalN2'"
                 [closable]="false"
                 [dismissable]="false"
                 [escapable]="false">
  <div class="modal-header">
      <h4 class="modal-title pull-left">Columnas visibles</h4>
  </div>
  <div class="modal-body">
      <mat-card>
        <app-loading *ngIf="loading"></app-loading>
        <ng-container AnclaParaColumnas></ng-container>
          <!-- <mat-card-actions>
          <button class="btn btn-default" (click)="cdFiltrosModal.close()">Cancelar</button>
          </mat-card-actions> -->
      </mat-card>
  </div>
  <div class="modal-footer">
      <button class="mine-btnbig" (click)="aplicar()">Aplicar</button>
      <button class="mine-btnbig" (click)="cancelar()">Cancelar</button>
      <!-- <button class="mine-btnbig" (click)="cdTablaModal.close()">Cancelar</button> -->
  </div>
</ngx-smart-modal>
