<div class="row">
  <div class="col s8 m6 l10">
    <h2>Visor Contable</h2>
  </div>
</div>

<div class="row">
  <div class="col s8 m6 l2">
    <mat-form-field>
      <input matInput placeholder="Comprobante" [value]="comprobante.Comprobante" readonly>
    </mat-form-field>
  </div>
  <div class="col s8 m6 l2">
    <mat-form-field>
      <input matInput  placeholder="Subdiario" [value]="comprobante.subdiario" readonly>
    </mat-form-field>
  </div>
  <div class="col s8 m6 l2">
    <mat-form-field>
      <input matInput  placeholder="Fecha" [value]="comprobante.Fecha" readonly>
    </mat-form-field>
  </div>
  <div class="col s8 m6 l2">
    <mat-form-field>
      <input matInput  placeholder="Referente" [value]="comprobante.RazonSocial_Referente" readonly>
    </mat-form-field>
  </div>
  <div class="col s8 m6 l2">
    <mat-form-field>
      <input matInput  placeholder="Total" [value]="comprobante.Total" readonly>
    </mat-form-field>
  </div>

  <!-- BOTON DETALLE COMPROBANTE -->
  <div class="col s8 m6 l2">
    <!-- <a mat-mini-fab class="btn-etangram-ok" aria-label="Ver detalle de comprobante"
      [routerLink]="['/comprobante', idParam]">
      <mat-icon>list_alt</mat-icon>
    </a> -->
    <a mat-mini-fab class="btn-etangram-ok" aria-label="Ver detalle de comprobante">
      <mat-icon>list_alt</mat-icon>
    </a>
  </div>
</div>

<app-listado-contable 
  [idComprobante]="idParam" 
>
</app-listado-contable>

<!-- BOTONES -->
<div class="row">
  <div class="col s12 m12 l12" class="btn-etangram-div">
    <button mat-raised-button [routerLink]="['/comprobantes']" class="btn-etangram-ko">CANCELAR</button>
    <button mat-raised-button (click)="autorizar()" class="btn-etangram-ok">AUTORIZAR</button>
  </div>
</div>


