<app-loading *ngIf="loading"></app-loading>
<div [ngStyle]="{'display':loading ? 'none' : 'block' }">
<h2>REMESAS</h2>
<mat-expansion-panel [expanded]=true [disabled]=true>
    <mat-expansion-panel-header>
    </mat-expansion-panel-header>

  <form [formGroup]="forma" novalidate="novalidate">

      <div class="row" style="margin-top:15px;margin-bottom: 0px" *ngIf="!loading">
          <!--<h6 style="margin-top:0px !important; margin-bottom: 20px !important; margin-left: 20px !important;">Filtros:</h6>
    -->
          <div class="col s6 m3 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Fecha Desde</mat-label>
              <input matInput [matDatepicker]="fecdesde"  formControlName="fecdesde">
              <mat-datepicker-toggle matSuffix [for]="fecdesde"></mat-datepicker-toggle>
              <mat-datepicker #fecdesde></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col s6 m3 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Fecha Hasta</mat-label>
              <input matInput [matDatepicker]="fechasta" formControlName="fechasta">
              <mat-datepicker-toggle matSuffix [for]="fechasta"></mat-datepicker-toggle>
              <mat-datepicker #fechasta></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- <button (click)="applyFilter()">Filtrar</button> -->
    </div>
    <div class="row" style="margin-top:15px;" *ngIf="!loading">

        <mat-checkbox (click)="applyFilter()" formControlName="soloPendientes">Solo Pendientes</mat-checkbox>
    </div>
</form>
<button [routerLink]="['/lista-remesas','nuevo']" class="mine-btnbig" mat-flat-button>
  NUEVO
</button>
<!-- [routerLink]="['/proveedores','nuevo']" -->
<div class="mat-elevation-z8" [ngStyle]="{'display':!loading ? 'block' : 'none' }">

    <table  mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1" *ngIf="!loading">

      <!-- comprobante Column -->
      <ng-container matColumnDef="simbolo">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *cdkCellDef="let element">  </td>
      </ng-container>

      <!-- fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Fecha Pago </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.fecha | date: 'dd-MM-yyyy' }} </td>
      </ng-container>


      <!-- expediente Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *cdkCellDef="let element"> {{ element.description }} </td>
      </ng-container>

      <!-- observaciones Column -->
      <ng-container matColumnDef="pagar">
        <th mat-header-cell *matHeaderCellDef> Pagar</th>
        <td mat-cell *cdkCellDef="let element"> {{ element.pago_previsto}} </td>
      </ng-container>

      <!-- importe Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Estado </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.estado }} </td>
      </ng-container>

       <!-- accion Column -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *cdkCellDef="let element">
        <i matTooltip="Editar Remesa" (click)="editarRemesa(element.id,element.estado)" class="material-icons" [ngStyle]="{'cursor': element.estado === 'Provisorio' ? 'pointer' : 'auto'}">edit</i>
        <i matTooltip="Consulta" class="material-icons" style="cursor: pointer">visibility</i>
        <i matTooltip="Borrar Remesa" (click)="borrarRemesa(element.id)" class="material-icons" style="cursor: pointer">delete</i>
        <i matTooltip="Liquidacion" class="material-icons" style="cursor: pointer">attach_money</i></td>
      </ng-container>

      <tr mat-header-row *cdkHeaderRowDef="['simbolo', 'fecha', 'descripcion', 'pagar', 'estado', 'accion']"></tr>
      <tr mat-row *cdkRowDef="let row; columns: ['simbolo', 'fecha', 'descripcion', 'pagar', 'estado', 'accion'];"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons [ngStyle]="{'display':loading ? 'none' : 'block' }"></mat-paginator> -->
  </div>
</mat-expansion-panel>

</div>