<mat-expansion-panel [expanded]=true [disabled]=true>
  <mat-expansion-panel-header>
    <mat-panel-title>
      EVIDENCIAS
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="row" style="margin-top:15px;" *ngIf="!loading">
    <div class="col s3 m2 l1">
      <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Código</p>
      <p style="margin-top:7px;">{{ id }}</p>
      <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%; ">
        <mat-label>Código Proveedor</mat-label>
        <input readonly #codProv matInput placeholder="" value="{{id}}">
      </mat-form-field>-->
    </div>

    <div class="col s6 m4 l3">
      <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Razón Social</p>
      <p style="margin-top:7px;">{{ razonSocial }}</p>
      <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
        <mat-label>Razón Social</mat-label>
        <input matInput placeholder="" readonly value="{{ compraProveedor?.razon_social }}">
      </mat-form-field>-->
    </div>
    <div class="col s3 m4 l3">
      <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">CUIT</p>
      <p style="margin-top:7px;">{{ cuit }}</p>
      <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
        <mat-label>CUIT</mat-label>
        <input matInput placeholder="" readonly value="{{ compraProveedor?.cuit }}">
      </mat-form-field>-->
    </div>
  </div>

  <div class="mat-elevation-z8" style="margin-top:15px;" *ngIf="!nuevo">

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z1">
    
      <!-- fecha Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Descripcion </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.descripcion }} </td>
      </ng-container>
  
      <!-- fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Fecha </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.fecha | date: 'dd-MM-yyyy' }} </td>
      </ng-container>

      <!-- fecha Column -->
      <ng-container matColumnDef="nombre_img">
        <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Imagen </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:left;"> </td>
      </ng-container>

       <!-- accion Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Acciones </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:center;">
            <!-- <a href='{{ element.url_imagen }}' target="_blank"><span style="font-size:12px; font-weight:bold; color:#000; margin-right:5px;margin-left:5px; cursor: pointer;"> V </span></a> -->
            <!-- <span style="font-size:12px; font-weight:bold; color:#000; cursor: pointer;" (click)="eliminarEvidencia(element.id_evidencia)"> E </span> -->
              <i (click)="verImagen(element.url_imagen)" matTooltip="Ver Imagen" class="material-icons">visibility</i>
              <a style="color:#000;">
              <i (click)="eliminarEvidencia(element.id_evidencia, element.url_imagen)"
                 matTooltip="Eliminar"
                 class="material-icons">delete</i>
              </a>
        </td>
      </ng-container>
      
      <tr mat-header-row *cdkHeaderRowDef="['descripcion', 'fecha', 'nombre_img', 'acciones']"></tr>
      <tr mat-row *cdkRowDef="let row; columns: ['descripcion', 'fecha', 'nombre_img', 'acciones'];"></tr>
    </table>
    
  </div>
  
  <form [formGroup]="forma" novalidate="novalidate" *ngIf="nuevo">
    <div class="row" style="margin-top:15px;margin-bottom: 0px">
      <div class="col s12 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Fecha</mat-label>
          <input matInput placeholder="" formControlName="fecha" value="{{ fechaActual | date: 'dd-MM-yyyy' }}">
          <!--<mat-hint>Hint</mat-hint>-->
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
       </div>
       <div class="col s12 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Descripción</mat-label>
          <input matInput placeholder="" formControlName="descripcion">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
       </div>
       <div class="col s12 m3 l3">
        <input type="file" #attachment name="attachment" (change)="cargar(attachment)" id="attachment">
       </div>
    </div> 
  </form>
  <div style="margin-top: 10px; width: 100%; text-align: right;">
    <button class="mine-btnbig" mat-flat-button *ngIf="!nuevo" (click)="agregarEvidencia()" style="margin:15px;">NUEVO</button>
    <button class="mine-btnbig" mat-flat-button *ngIf="nuevo" (click)="guardarEvidencia()">GUARDAR</button>  
    <button mat-flat-button class="mine-btnbig-grey" Style="margin-left: 5px" (click)="cancelar()">CANCELAR</button>
  </div>
</mat-expansion-panel>
<app-img></app-img>