<h2>ARTÍCULOS</h2>
<button [routerLink]="['/articulos']" class="mine-btnbig-grey" mat-flat-button>
  VOLVER A LISTA
</button>

<form [formGroup]="forma" (ngSubmit)="guardarArticulo()" novalidate="novalidate">

  <mat-expansion-panel [expanded]=true [disabled]=true style="margin-top:10px;">
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS DESCRIPTIVOS</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="tipo">
            <mat-option value="1">Artículo</mat-option>
            <mat-option value="2">Item</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Número</mat-label>
          <input #nroArt matInput placeholder="" type="number" formControlName="nroArticulo">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m12 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Descripción</mat-label>
          <input matInput placeholder="" formControlName="descripcion">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código alternativo</mat-label>
          <input matInput placeholder="" type="number" formControlName="codigoAlternativo">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Código de barra</mat-label>
          <input matInput placeholder="" type="number" formControlName="codigoBarra">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Grupo</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idGrupo">
            <mat-option value="1">Grupo1</mat-option>
            <mat-option value="2">Grupo2</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo Artículo</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idTipoArticulo">
            <mat-option value="1">Insumos</mat-option>
            <mat-option value="2">Productos terminados</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Procedencia</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="procedencia">
            <mat-option value="1">Nacional</mat-option>
            <mat-option value="2">Importado</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m4 l4">
          <mat-checkbox formControlName="propio">¿Elaboración propia?</mat-checkbox>
      </div>
      <div class="col s4 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Marca</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idMarca">
            <mat-option value="1">Nacional</mat-option>
            <mat-option value="2">Importado</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Campo1</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idCampo1">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Campo2</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idCampo2">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Campo3</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idCampo3">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Estado</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="estado">
            <mat-option value="1">Pendiente</mat-option>
            <mat-option value="2">Activo</mat-option>
            <mat-option value="3">Inactivo</mat-option>
            <mat-option value="4">Baja</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Categoría de Bloqueo</mat-label>
          <input matInput placeholder="" type="text" formControlName="categoria_bloqueo">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="row">
      <div class="col s12 m12 l6">
          <mat-checkbox formControlName="obsRegistroAutoVta">¿Ingresa observaciones automáticamente en la venta?</mat-checkbox>
      </div>
      <div class="col s12 m12 l6">
          <mat-checkbox formControlName="obsRegistroAutoCpa">¿Ingresa observaciones automáticamente en la compra?</mat-checkbox>
      </div>
      </div>
      <div class="row">
      <div class="col s12 m6 l4">
          <mat-checkbox formControlName="obsIngresoVta">¿Ingresa observaciones en la venta?</mat-checkbox>
      </div>
      <div class="col s12 m6 l4">
          <mat-checkbox formControlName="obsIngresoCpa">¿Ingresa observaciones en la compra?</mat-checkbox>
      </div>
      <div class="col s12 m12 l4">
          <mat-checkbox formControlName="obsImprimeVta">¿Imprime observaciones en la factura?</mat-checkbox>
      </div>
      </div>
      <div class="row">
      <div class="col s12 m6 l6">
          <mat-checkbox formControlName="obsAuditoriaVta">¿Audita observaciones en la venta?</mat-checkbox>
      </div>
      <div class="col s12 m6 l6">
          <mat-checkbox formControlName="obsAuditoriaCpa">¿Audita observaciones en la compra?</mat-checkbox>
      </div>
      </div>
      <div class="row">
      <div class="col s12 m4 l4">
          <mat-checkbox formControlName="categoriaVenta">Categoría Ventas</mat-checkbox>
      </div>
      <div class="col s12 m4 l4">
          <mat-checkbox formControlName="categoriaInventario">Categoría Inventario</mat-checkbox>
      </div>
      <div class="col s12 m4 l4">
          <mat-checkbox formControlName="categoriaCompra">Categoría Compra</mat-checkbox>
      </div>
      </div>

      <!-- relacion fotos -->
      <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
        <span style="display:flex;">
          <h6>Fotos:</h6>
          <button (click)="addFoto()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
            +
          </button>
        </span>
      </div>

      <div class="row" *ngFor="let item of fotos; let in = index" style="margin:5px !important;">
        <div class="col s12 m4 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Número de Foto</mat-label>
            <input matInput placeholder="" type="text">
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="col s8 m4 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>URL de Foto</mat-label>
            <input matInput placeholder="" type="text">
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="col s4 m4 l3">
          <button (click)="deleteFoto(in)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
            -
          </button>
        </div>
      </div>
      <!--fin relacion-->

    </div>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=true [disabled]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>COMPRAS Y VENTAS</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Precio última compra</mat-label>
          <input matInput placeholder="" style="text-align:right;" type="number" formControlName="precioUltCompra">
          <span matPrefix style="font-family: 'Lato', sans-serif !important;">$&nbsp;</span>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Fecha última compra</mat-label>
          <input matInput [matDatepicker]="picker1" placeholder="" formControlName="fechaUltCompra">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Moneda</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idMonedaUltCompra">
            <mat-option value="1">Pesos</mat-option>
            <mat-option value="2">Dólares</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Cantidad óptima de compra</mat-label>
          <input matInput placeholder="" type="number" formControlName="cantidadOptimaDeCompra">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Precio última Venta</mat-label>
            <input matInput placeholder="" style="text-align:right;" type="number" formControlName="precioUltVenta">
            <span matPrefix style="font-family: 'Lato', sans-serif !important;">$&nbsp;</span>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Fecha última venta</mat-label>
            <input matInput [matDatepicker]="picker2" placeholder="" formControlName="fechaUltVenta">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Moneda</mat-label>
            <mat-select placeholder="Elija una opción" formControlName="idMonedaUltVenta">
              <mat-option value="1">Pesos</mat-option>
              <mat-option value="2">Dólares</mat-option>
            </mat-select>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
      </div>

      <!-- relacion proveedores -->
      <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
        <span style="display:flex;">
          <h6>Proveedores:</h6>
          <button (click)="addProveedor()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
            +
          </button>
        </span>
      </div>

      <div class="row" *ngFor="let item of proveedores; let in = index" style="margin:5px !important;">
        <div class="col s6 m4 l2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Id Proveedor</mat-label>
            <input matInput placeholder="" type="text">
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="col s6 m4 l2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Código Artículo</mat-label>
            <input matInput placeholder="" type="text">
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="col s4 m4 l2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Código de Barra</mat-label>
            <input matInput placeholder="" type="text">
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="col s4 m4 l2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Moneda Última Compra</mat-label>
            <input matInput placeholder="" type="text">
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="col s4 m4 l2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Precio Última Compra</mat-label>
            <input matInput placeholder="" type="text">
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="col s6 m2 l1">
            <mat-checkbox formControlName="categoriaCompra">Categoría Compra</mat-checkbox>
        </div>
        <div class="col s6 m2 l1">
          <button (click)="deleteProveedor(in)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
            -
          </button>
        </div>
      </div>
      <!--fin relacion-->
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=true [disabled]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS IMPOSITIVOS</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Grupo de referencia contable</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idGrupoRefContArticulo">
            <mat-option value="1">#</mat-option>
            <mat-option value="2">#</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Alicuota IVA</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idAlicuotaIva">
            <mat-option value="1">21</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Alicuota Imp. Internos</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idAlicuotaImpInt">
            <mat-option value="1">#</mat-option>
            <mat-option value="2">#</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Área de aplicación Alicuota II</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="IIAreaAplicacionAlicuota">
            <mat-option value="0">No Aplica</mat-option>
            <mat-option value="1">Compras</mat-option>
            <mat-option value="2">Ventas</mat-option>
            <mat-option value="3">Ambas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Área de aplicación de Importe Fijo II</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="IIAreaAplicacionImporteFijo">
            <mat-option value="0">No Aplica</mat-option>
            <mat-option value="1">Compras</mat-option>
            <mat-option value="2">Ventas</mat-option>
            <mat-option value="3">Ambas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m4 l4">
        <mat-checkbox formControlName="IncorporarIIalCosto">Incorporar al costo</mat-checkbox>
      </div>
      <div class="col s12 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Impuesto Interno Fijo</mat-label>
          <input matInput placeholder="" type="number" formControlName="impuestoInternoFijo">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=true [disabled]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS DE LOTES Y SERIES</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row" style="margin-top:15px;">
        <div class="col s12 m4 l4">
            <mat-checkbox formControlName="gestionDespacho">Gestión Despacho</mat-checkbox>
        </div>
      <div class="col s12 m4 l4">
          <mat-checkbox formControlName="gestionLote">Gestión Lote</mat-checkbox>
      </div>
      <div class="col s12 m4 l4">
          <mat-checkbox formControlName="gestionSerie">Gestión Serie</mat-checkbox>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=true [disabled]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS DE STOCK</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
      <div class="col s12 m6 l3">
        <mat-checkbox formControlName="administraStock">Administra Stock</mat-checkbox>
      </div>
      <div class="col s12 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Stock Ideal</mat-label>
          <input matInput placeholder="" type="number" formControlName="stockIdeal">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Stock Máximo</mat-label>
          <input matInput placeholder="" type="number" formControlName="stockMaximo">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Stock de Reposición</mat-label>
          <input matInput placeholder="" type="number" formControlName="stockReposicion">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    </div>

    <!-- relacion articulo deposito -->
    <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
      <span style="display:flex;">
        <h6>Depósitos:</h6>
        <button (click)="addDeposito()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
          +
        </button>
      </span>
    </div>

    <div class="row" *ngFor="let item of depositos; let in = index" style="margin:5px !important;">
      <div class="col s12 m6 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Id Depósito</mat-label>
          <input matInput placeholder="" type="text">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Stock Ideal</mat-label>
          <input matInput placeholder="" type="text">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Stock Máximo</mat-label>
          <input matInput placeholder="" type="text">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Stock Reposición</mat-label>
          <input matInput placeholder="" type="text">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l4">
        <button (click)="deleteProveedor(in)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
          -
        </button>
      </div>
    </div>
    <!--fin relacion-->

    <!-- relacion articulo sustituto -->
    <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
      <span style="display:flex;">
        <h6>Productos Sustitutos:</h6>
        <button (click)="addSustituto()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
          +
        </button>
      </span>
    </div>

    <div class="row" *ngFor="let item of depositos; let in = index" style="margin:5px !important;">
      <div class="col s12 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Id Artículo Sustituto</mat-label>
          <input matInput placeholder="" type="text">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo Sustituto</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="IIAreaAplicacionImporteFijo">
            <mat-option value="0">Simple</mat-option>
            <mat-option value="1">Compuesto</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s12 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Cantidad</mat-label>
          <input matInput placeholder="" type="text">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m4 l3">
        <button (click)="deleteSustituto(in)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
          -
        </button>
      </div>
    </div>
    <!--fin relacion-->

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=true [disabled]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS DE UNIDAD DE MEDIDA</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
        <div class="col s12 m4 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Dimensiones</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="Dimensiones">
                <mat-option value="0">No definido</mat-option>
                <mat-option value="1">2 dimensiones</mat-option>
                <mat-option value="2">3 dimensiones</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col s12 m4 l3" style="margin-bottom:20px;">
            <mat-checkbox formControlName="Pesable">Pesable</mat-checkbox>
        </div>
        <div class="col s12 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Pesable Estandar</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="Pesable_Estandar">
                <mat-option value="1">EAN13</mat-option>
                <mat-option value="2">EAN14</mat-option>
                <mat-option value="3">GS1</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col s6 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Unidad medida base</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="unidadMedidaBase">
                <mat-option value="1">-</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div class="col s6 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Unidad medida LP</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="unidadMedidaLP">
                <mat-option value="1">-</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col s6 m3 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Largo</mat-label>
              <input matInput placeholder="" formControlName="largo">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
        </div>
        <div class="col s6 m3 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Ancho</mat-label>
              <input matInput placeholder="" formControlName="ancho">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
        </div>
        <div class="col s6 m3 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Profundidad</mat-label>
              <input matInput placeholder="" formControlName="profundidad">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
        </div>
        <div class="col s6 m3 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>m3</mat-label>
              <input matInput placeholder="" formControlName="m3">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
        </div>
    </div>

  </mat-expansion-panel>

  <div class="row" style="margin-top:15px;">
    <div class="col s12" style="text-align: right;">
      <button type="submit" class="mine-btnbig" mat-flat-button style="margin-right:10px;" [disabled]="!forma.valid">
        GUARDAR
      </button>
      <button type="reset" class="mine-btnbig-grey" mat-flat-button>
        CANCELAR
      </button>
    </div>
  </div>
</form>
