<h2>ARTÍCULOS</h2>
<button [routerLink]="['/articulos']" class="mine-btnbig-grey" mat-flat-button>
  VOLVER A LISTA
</button>

<form [formGroup]="forma" (ngSubmit)="guardarArticulo()" novalidate="novalidate">

  <mat-expansion-panel [expanded]=true [disabled]=false style="margin-top:10px;">
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS DESCRIPTIVOS</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Tipo</mat-label>
          <mat-select (selectionChange)="seleccionarTipo($event.value)" #tipoArt placeholder="Elija una opción" formControlName="tipo">
            <mat-option value="1">Artículo</mat-option>
            <mat-option value="2">Item</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Número</mat-label>
          <input #nroArt matInput placeholder="" type="number" formControlName="nroArticulo">
        </mat-form-field>
      </div>
      <div class="col s12 m12 l6">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Descripción</mat-label>
          <input matInput placeholder="" formControlName="descripcion">
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;" *ngIf="tipoArt.value!=2">
          <mat-label>Código alternativo</mat-label>
          <input matInput placeholder="" type="number" formControlName="codigoAlternativo">
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;" *ngIf="tipoArt.value!=2">
          <mat-label>Código de barra</mat-label>
          <input matInput placeholder="" type="number" formControlName="codigoBarra">
        </mat-form-field>
      </div>
      <div class="col s2 m2 l1">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Grupo</mat-label>
          <input (keyup)="buscarGrupo()" (changed)="buscarGrupo()" #codGrupo matInput placeholder="" formControlName="idGrupo">
          <mat-hint *ngIf="forma.controls['idGrupo'].status == 'PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['idGrupo'].errors?.noExiste">
            El Grupo no existe
          </mat-hint>
        </mat-form-field>
      </div>
      <!-- <div class="col s2 m2 l1" style="margin-top:10px;" (click)="abrirConsulta('c_producto_categoria', 'idGrupo')"> -->
      <div class="col s2 m2 l1" style="margin-top:10px;">
        <!-- <button type="button" class="mine-btnforms" mat-flat-button>
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </button> -->
        <button type="button" class="mine-btnforms" mat-flat-button 
        (click)="abrirConsulta('c_producto_categoria', [], 'idGrupo', 'nombreGrupo', 'openSnackBar', i)">
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </button>
      </div>

      <div class="col s12 m12 l7">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Nombre de Grupo</mat-label>
          <!-- <input matInput placeholder="" formControlName="nombreGrupo" value="{{ resultadoidGrupo?.name }}"> -->
          <!-- <input matInput readonly placeholder="" value="{{ resultadoidGrupo?.name }}"> -->
          <!-- <input matInput readonly placeholder="" value="{{ grupo?.name }}"> -->
          <input matInput readonly formControlName="nombreGrupo" placeholder="">
        </mat-form-field>
      </div>

      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;" *ngIf="tipoArt.value!=2">
          <mat-label>Tipo Artículo</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idTipoArticulo">
            <mat-option value="1">Insumos</mat-option>
            <mat-option value="2">Productos terminados</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;" *ngIf="tipoArt.value!=2">
          <mat-label>Procedencia</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="procedencia">
            <mat-option value="1">Nacional</mat-option>
            <mat-option value="2">Importado</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s4 m4 l4">
          <mat-checkbox formControlName="propio" *ngIf="tipoArt.value!=2">¿Elaboración propia?</mat-checkbox>
      </div>
      <div class="col s2 m2 l1">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;" *ngIf="tipoArt.value!=2">
          <mat-label>Marca</mat-label>
          <input (keyup)="buscarMarca()" (changed)="buscarMarca()" #codMarca matInput placeholder="" formControlName="idMarca">
          <mat-hint *ngIf="forma.controls['idMarca'].status == 'PENDING'">
            Buscando código...
          </mat-hint>
          <mat-hint *ngIf="forma.controls['idMarca'].errors?.noExiste">
            La Marca no existe
          </mat-hint>
        </mat-form-field>
      </div>
      <!-- <div class="col s1 m1 l1" style="margin-top:10px;" (click)="abrirConsulta('tglp_tg_marcas', 'idMarca')"> -->
      <div class="col s1 m1 l1" style="margin-top:10px;">
        <!-- <button type="button" class="mine-btnforms" mat-flat-button>
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </button> -->
        <button type="button" class="mine-btnforms" mat-flat-button 
        (click)="abrirConsulta('tglp_tg_marcas', [], 'idMarca', 'nombreMarca', 'openSnackBar', i)">
          <i class="material-icons" style="font-size:20px;">more_horiz</i>
        </button>
      </div>
      <div class="col s12 m12 l7">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Nombre de Marca</mat-label>
          <!-- <input matInput placeholder="" formControlName="nombreMarca" value="{{ resultadoidMarca?.name }}"> -->
          <!-- <input matInput placeholder="" value="{{ resultadoidMarca?.name }}"> -->
          <input matInput readonly formControlName="nombreMarca" placeholder="">
        </mat-form-field>
      </div>

      <!-- <div class="col s4 m4 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;" *ngIf="tipoArt.value!=2">
          <mat-label>Campo1</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idCampo1">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div class="col s4 m4 l2" *ngIf="tipoArt.value!=2">
        <!-- <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label *ngIf="atributosArticuloAll!=undefined">{{ atributosArticuloAll[0].name }}</mat-label>
          <mat-label *ngIf="atributosArticuloAll==undefined">Campo1</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idCampo1">
            <mat-option *ngFor="let aux of valoresAtributosArticuloAll[0]" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <mat-form-field *ngIf="obsValoresAtributos0 | async as lista; else sincampo1" appearance="outline" floatLabel="always" style="width:100%;" >
          <mat-label >{{ atributosArticuloAll[0].name }}</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idCampo1">
            <mat-option *ngFor="let aux of lista" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-template #sincampo1>
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;" >
            <mat-label>Campo1</mat-label>
            <mat-select placeholder="Elija una opción"></mat-select>
          </mat-form-field>
        </ng-template>
      </div>
      <div class="col s4 m4 l2" *ngIf="tipoArt.value!=2">
        <mat-form-field *ngIf="obsValoresAtributos1 | async as lista; else sincampo2" appearance="outline" floatLabel="always" style="width:100%;" >
          <mat-label >{{ atributosArticuloAll[1].name }}</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idCampo2">
            <mat-option *ngFor="let aux of lista" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-template #sincampo2>
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;" >
            <mat-label>Campo2</mat-label>
            <mat-select placeholder="Elija una opción"></mat-select>
          </mat-form-field>
        </ng-template>
      </div>
      <div class="col s4 m4 l2" *ngIf="tipoArt.value!=2">
        <mat-form-field *ngIf="obsValoresAtributos2 | async as lista; else sincampo3" appearance="outline" floatLabel="always" style="width:100%;" >
          <mat-label >{{ atributosArticuloAll[2].name }}</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idCampo3">
            <mat-option *ngFor="let aux of lista" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-template #sincampo3>
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;" >
            <mat-label>Campo3</mat-label>
            <mat-select placeholder="Elija una opción"></mat-select>
          </mat-form-field>
        </ng-template>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Estado</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="estado">
            <mat-option value="1">Pendiente</mat-option>
            <mat-option value="2">Activo</mat-option>
            <mat-option value="3">Inactivo</mat-option>
            <mat-option value="4">Baja</mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Categoría de Bloqueo</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="categoria_bloqueo">
            <mat-option *ngFor="let aux of catsBloqueoAll" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col s12 m4 l4">
            <mat-checkbox formControlName="categoriaVenta" *ngIf="tipoArt.value!=2">Categoría Ventas</mat-checkbox>
        </div>
        <div class="col s12 m4 l4">
            <mat-checkbox formControlName="categoriaInventario" *ngIf="tipoArt.value!=2">Categoría Inventario</mat-checkbox>
        </div>
        <div class="col s12 m4 l4">
            <mat-checkbox formControlName="categoriaCompra" *ngIf="tipoArt.value!=2">Categoría Compra</mat-checkbox>
        </div>
      </div>

      <!-- relacion fotos -->
      <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;"  *ngIf="tipoArt.value!=2">
        <span style="display:flex;">
          <h6>Fotos:</h6>
          <button type="button" (click)="addFoto()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
            +
          </button>
        </span>
      </div>
 
      <div class="row" *ngFor="let item of fotos; let in = index" style="margin:5px !important;">
        <!--<div class="col s12 m4 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Número de Foto</mat-label>
            <input matInput placeholder="" type="text">
          </mat-form-field>
        </div>-->
        <div class="col s8 m8 l4"  *ngIf="tipoArt.value!=2">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>URL de Foto</mat-label>
            <input matInput placeholder="" type="text">
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="col s4 m4 l3" *ngIf="tipoArt.value!=2">
          <button type="button" (click)="deleteFoto(in)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
            -
          </button>
        </div>
      </div>
      <!--fin relacion-->

    </div>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=false [disabled]=false *ngIf="tipoArt.value!=2">
    <mat-expansion-panel-header>
      <mat-panel-title>COMPRAS Y VENTAS</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Precio última compra</mat-label>
          <input matInput placeholder="" style="text-align:right;" type="number" formControlName="precioUltCompra">
          <span matPrefix style="font-family: 'Lato', sans-serif !important;">$&nbsp;</span>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Fecha última compra</mat-label>
          <input matInput readonly [matDatepicker]="picker1" placeholder="" formControlName="fechaUltCompra">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Moneda</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idMonedaUltCompra">
            <mat-option *ngFor="let aux of monedasAll" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Cantidad óptima de compra</mat-label>
          <input matInput placeholder="" type="number" formControlName="cantidadOptimaDeCompra">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Precio última Venta</mat-label>
            <input matInput placeholder="" style="text-align:right;" type="number" formControlName="precioUltVenta">
            <span matPrefix style="font-family: 'Lato', sans-serif !important;">$&nbsp;</span>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Fecha última venta</mat-label>
            <input matInput readonly [matDatepicker]="picker2" placeholder="" formControlName="fechaUltVenta">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Moneda</mat-label>
            <mat-select placeholder="Elija una opción" formControlName="idMonedaUltVenta">
              <mat-option *ngFor="let aux of monedasAll" [value]="aux.id">
                {{aux.name}}
              </mat-option>
            </mat-select>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
      </div>

      <!-- relacion proveedores -->
      <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
        <span style="display:flex;">
          <h6>Proveedores:</h6>
          <button type="button" (click)="addProveedor()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
            +
          </button>
        </span>
      </div>

      <!-- <div class="row" *ngFor="let item of proveedores; let in = index" style="margin:5px !important;"> -->
      <div formArrayName="proveedores" *ngFor="let pro of forma.controls.proveedores?.controls; let i = index">
        <ng-container [formGroupName]="i">
          <div class="row" style="margin:5px !important;">
            <div class="col s6 m4 l1">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Id Proveedor</mat-label>
                <input (keyup)="buscarProveedor(i)" (changed)="buscarProveedor(i)" #codProv matInput placeholder="" formControlName="idProveedor">
                <mat-hint *ngIf="pro.controls['idProveedor'].status == 'PENDING'">
                  Buscando código...
                </mat-hint>
                <mat-hint *ngIf="pro.controls['idProveedor'].errors?.noExiste">
                  El proveedor no existe
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col s2 m1 l1" style="margin-top:10px;">
              <!-- <button type="button" class="mine-btnforms" mat-flat-button (click)="abrirConsulta('c_proveedores', 'idProveedor')"> -->
              <button type="button" class="mine-btnforms" mat-flat-button 
              (click)="abrirConsulta('c_proveedores', ['proveedores', i], 'idProveedor', 'razonSocial', 'openSnackBar', i)">
                <i class="material-icons" style="font-size:20px;">more_horiz</i>
              </button>
              <!-- <button type="button" class="mine-btnforms" mat-flat-button 
              (click)="abrirConsulta('c_proveedores', 'precioUltCompra', 'precioUltVenta', [''], 'openSnackBar', i)">
                <i class="material-icons" style="font-size:20px;">more_horiz</i>
              </button> -->
            </div>
            <div class="col s6 m4 l2">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Razon Social</mat-label>
                <!-- <input matInput placeholder="" formControlName="razonSocial" value="{{ proveedor?.razon_social }}"> -->
                <input matInput placeholder="" readonly formControlName="razonSocial">
              </mat-form-field>
            </div>
            <div class="col s6 m4 l2">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Código Artículo</mat-label>
                <input (keyup)="buscarArtProveedor(i)" #codArtProv matInput placeholder="" formControlName="artDeProveedor">
                <mat-hint *ngIf="pro.controls['artDeProveedor'].status == 'PENDING'">
                  Buscando código...
                </mat-hint>
                <mat-hint *ngIf="pro.controls['artDeProveedor'].errors?.noExiste">
                  El artículo no existe
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col s2 m1 l1" style="margin-top:10px;">
              <!-- <button type="button" class="mine-btnforms" mat-flat-button (click)="abrirConsulta('c_articulos', 'artDeProveedor')">
                <i class="material-icons" style="font-size:20px;">more_horiz</i>
              </button> -->
              <button type="button" class="mine-btnforms" mat-flat-button 
              (click)="abrirConsulta('c_articulos', ['proveedores', i], 'artDeProveedor', 'artDesc', 'openSnackBar', i)">
                <i class="material-icons" style="font-size:20px;">more_horiz</i>
              </button>
            </div>
            <div class="col s4 m4 l2">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Descripción Artículo</mat-label>
                <input matInput placeholder="" readonly type="text" formControlName="artDesc">
              </mat-form-field>
            </div>
            <div class="col s4 m4 l2">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Código de Barra</mat-label>
                <input matInput placeholder="" type="text" formControlName="artCodBarra">
              </mat-form-field>
            </div>
            <div class="col s4 m4 l2">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Moneda Última Compra</mat-label>
                <mat-select placeholder="Elija una opción" formControlName="idMonedaUltCompra">
                  <mat-option *ngFor="let aux of monedasAll" [value]="aux.id">
                    {{aux.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s4 m4 l2">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Precio Última Compra</mat-label>
                <input matInput placeholder="" type="number" formControlName="precioUltCompra">
              </mat-form-field>
            </div>
            <div class="col s6 m6 l3">
              <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
                <mat-label>Fecha última compra</mat-label>
                <input matInput readonly [matDatepicker]="pickerUltProv" placeholder="" formControlName="fechaUltCompra">
                <mat-datepicker-toggle matSuffix [for]="pickerUltProv"></mat-datepicker-toggle>
                <mat-datepicker #pickerUltProv></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col s6 m2 l1">
                <mat-checkbox formControlName="esPorDefecto">Por defecto</mat-checkbox>
            </div>
            <div class="col s6 m2 l1">
              <button type="button" (click)="deleteProveedor(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
                -
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <!--fin relacion-->
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=false [disabled]=false>
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS IMPOSITIVOS</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
      <div class="col s6 m6 l3" *ngIf="tipoArt.value!=2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Grupo de referencia contable</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idGrupoRefContArticulo">
            <mat-option *ngFor="let aux of gruposRefContableArticuloAll" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Alicuota IVA</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idAlicuotaIva">
            <mat-option *ngFor="let aux of alicuotasAll" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Alicuota Imp. Internos</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="idAlicuotaImpInt">
            <mat-option *ngFor="let aux of alicuotas2All" [value]="aux.id">
              {{aux.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m6 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Área de aplicación Alicuota II</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="IIAreaAplicacionAlicuota">
            <mat-option value="0">No Aplica</mat-option>
            <mat-option value="1">Compras</mat-option>
            <mat-option value="2">Ventas</mat-option>
            <mat-option value="3">Ambas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Área de aplicación de Importe Fijo II</mat-label>
          <mat-select placeholder="Elija una opción" formControlName="IIAreaAplicacionImporteFijo">
            <mat-option value="0">No Aplica</mat-option>
            <mat-option value="1">Compras</mat-option>
            <mat-option value="2">Ventas</mat-option>
            <mat-option value="3">Ambas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6 m4 l4">
        <mat-checkbox *ngIf="tipoArt.value!=2" formControlName="IncorporarIIalCosto">Incorporar al costo</mat-checkbox>
      </div>
      <div class="col s12 m4 l4">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Impuesto Interno Fijo</mat-label>
          <input matInput placeholder="" type="number" formControlName="impuestoInternoFijo">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=false [disabled]=false *ngIf="tipoArt.value!=2">
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS DE LOTES Y SERIES</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row" style="margin-top:15px;">
        <div class="col s12 m4 l4">
            <mat-checkbox formControlName="gestionDespacho">Gestión Despacho</mat-checkbox>
        </div>
      <div class="col s12 m4 l4">
          <mat-checkbox formControlName="gestionLote">Gestión Lote</mat-checkbox>
      </div>
      <div class="col s12 m4 l4">
          <mat-checkbox formControlName="gestionSerie">Gestión Serie</mat-checkbox>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=false [disabled]=false *ngIf="tipoArt.value!=2">
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS DE STOCK</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
      <div class="col s12 m6 l3">
        <mat-checkbox #adminStock formControlName="administraStock">Administra Stock</mat-checkbox>
      </div>
      <!--  *ngIf="adminStock.checked==true" -->
      <div class="col s12 m6 l3" *ngIf="adminStock.checked">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Stock Ideal</mat-label>
          <input matInput placeholder="" type="number" formControlName="stockIdeal">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m6 l3" *ngIf="adminStock.checked">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Stock Máximo</mat-label>
          <input matInput placeholder="" type="number" formControlName="stockMaximo">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m6 l3" *ngIf="adminStock.checked">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Stock de Reposición</mat-label>
          <input matInput placeholder="" type="number" formControlName="stockReposicion">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    </div>

    <!-- relacion articulo deposito -->
    <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;" *ngIf="adminStock.checked">    
      <span style="display:flex;">
        <h6>Depósitos:</h6>
        <button type="button" (click)="addDeposito()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
          +
        </button>
      </span>
    </div>

    <div formArrayName="depositos" *ngFor="let dep of forma.controls.depositos?.controls; let i = index">
      <ng-container [formGroupName]="i">
        <!-- <div class="row" *ngFor="let item of depositos; let in = index" style="margin:5px !important;"> -->
        <div class="row" style="margin:5px !important;">
          <div class="col s6 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Id Depósito</mat-label>
              <input (keyup)="buscarDeposito(i)" #codDep matInput placeholder="" formControlName="tg01_depositos_id_c">
              <mat-hint *ngIf="dep.controls['tg01_depositos_id_c'].status == 'PENDING'">
                Buscando código...
              </mat-hint>
              <mat-hint *ngIf="dep.controls['tg01_depositos_id_c'].errors?.noExiste">
                El Depósito no existe
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col s2 m1 l1" style="margin-top:10px;">
            <!-- <button type="button" class="mine-btnforms" mat-flat-button (click)="abrirConsulta('c_articulos', 'artDeProveedor')">
              <i class="material-icons" style="font-size:20px;">more_horiz</i>
            </button> -->
            <button type="button" class="mine-btnforms" mat-flat-button 
            (click)="abrirConsulta('tg01_depositos', ['depositos', i], 'tg01_depositos_id_c', 'name', 'openSnackBar', i)">
              <i class="material-icons" style="font-size:20px;">more_horiz</i>
            </button>
          </div>
          <div class="col s6 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Nombre Depósito</mat-label>
              <input matInput placeholder="" readonly formControlName="name">
            </mat-form-field>
          </div>

          <div class="col s12 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Stock Ideal</mat-label>
              <input matInput placeholder="" type="number" formControlName="stockideal">
            </mat-form-field>
          </div>
          <div class="col s12 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Stock Máximo</mat-label>
              <input matInput placeholder="" type="number" formControlName="stockmaximo">
            </mat-form-field>
          </div>
          <div class="col s12 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Stock Reposición</mat-label>
              <input matInput placeholder="" type="number" formControlName="stockreposicion">
            </mat-form-field>
          </div>
          <div class="col s12 m4 l4">
            <button type="button" (click)="deleteDeposito(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
              -
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <!--fin relacion-->

    <!-- relacion articulo sustituto -->
    <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
      <span style="display:flex;">
        <h6>Productos Sustitutos:</h6>
        <button type="button" (click)="addSustituto()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
          +
        </button>
      </span>
    </div>

    <!-- <div class="row" *ngFor="let item of depositos; let in = index" style="margin:5px !important;"> -->
    <div formArrayName="articulosSustitutos" *ngFor="let art of forma.controls.articulosSustitutos?.controls; let i = index">
      <ng-container [formGroupName]="i">
        <div class="row" style="margin:5px !important;">
          <div class="col s12 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Id Artículo Sustituto</mat-label>
              <input (keyup)="buscarArtSust(i)" #codArtSust matInput placeholder="" formControlName="idArtSust">
              <mat-hint *ngIf="art.controls['idArtSust'].status == 'PENDING'">
                Buscando código...
              </mat-hint>
              <mat-hint *ngIf="art.controls['idArtSust'].errors?.noExiste">
                El artículo no existe
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col s2 m1 l1" style="margin-top:10px;">
            <!-- <button type="button" class="mine-btnforms" mat-flat-button (click)="abrirConsulta('c_articulos', 'idArtSust')">
              <i class="material-icons" style="font-size:20px;">more_horiz</i>
            </button> -->
            <button type="button" class="mine-btnforms" mat-flat-button 
            (click)="abrirConsulta('c_articulos', ['articulosSustitutos', i], 'idArtSust', 'artDesc', 'openSnackBar', i)">
              <i class="material-icons" style="font-size:20px;">more_horiz</i>
            </button>
          </div>
          <div class="col s12 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Descripción</mat-label>
              <input matInput placeholder="" disabled readonly formControlName="artDesc">
            </mat-form-field>
          </div>
          <div class="col s12 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>U.M. Artículo</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="umArticulo">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s12 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>U.M. Sustituto</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="umSustituto">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s12 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Tipo Sustituto</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="tipoSustituto">
                <mat-option value="S">Simple</mat-option>
                <mat-option value="C">Compuesto</mat-option>
                <mat-option value="P">Sustituto</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s12 m6 l1">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Cantidad</mat-label>
              <input matInput placeholder="" type="text" formControlName="cantidad">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div class="col s1 m1 l1">
            <button type="button" (click)="deleteSustituto(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
              -
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <!--fin relacion-->

    <!-- relacion articulo relaciones -->   
    <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
      <span style="display:flex;">
        <h6>Productos Relacionados:</h6>
        <button type="button" (click)="addArtRelacion()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
          +
        </button>
      </span>
    </div>

    <!-- <div class="row" *ngFor="let item of artRelaciones; let in = index" style="margin:5px !important;"> -->
    <div formArrayName="articulosHijos" *ngFor="let art of forma.controls.articulosHijos?.controls; let i = index">
      <ng-container [formGroupName]="i">
        <div class="row" style="margin:5px !important;">
          <div class="col s12 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Id Artículo Hijo</mat-label>
              <input (keyup)="buscarArtHijo(i)" #codArtHijo matInput placeholder="" formControlName="idArtHijo">
              <mat-hint *ngIf="art.controls['idArtHijo'].status == 'PENDING'">
                Buscando código...
              </mat-hint>
              <mat-hint *ngIf="art.controls['idArtHijo'].errors?.noExiste">
                El artículo no existe
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col s2 m1 l1" style="margin-top:10px;">
           <!--  <button type="button" class="mine-btnforms" mat-flat-button (click)="abrirConsulta('c_articulos', 'idArtHijo')">
              <i class="material-icons" style="font-size:20px;">more_horiz</i>
            </button> -->
            <button type="button" class="mine-btnforms" mat-flat-button 
            (click)="abrirConsulta('c_articulos', ['articulosHijos', i], 'idArtHijo', 'artDesc', 'openSnackBar', i)">
              <i class="material-icons" style="font-size:20px;">more_horiz</i>
            </button>
          </div>
          <div class="col s12 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Descripción</mat-label>
              <input matInput placeholder="" disabled readonly formControlName="artDesc">
            </mat-form-field>
          </div>
      <!--   <div class="col s12 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Id Artículo Padre</mat-label>
              <input matInput placeholder="" type="text">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div> -->
          <div class="col s8 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Cantidad</mat-label>
              <input matInput placeholder="" type="number" formControlName="cantidad">
            </mat-form-field>
          </div>
          <div class="col s4 m4 l2">
            <button type="button" (click)="deleteArtRelacion(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
              -
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <!--fin relacion-->

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=false [disabled]=false *ngIf="tipoArt.value!=2">
    <mat-expansion-panel-header>
      <mat-panel-title>DATOS DE UNIDAD DE MEDIDA</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
        <div class="col s12 m4 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Dimensiones</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="Dimensiones">
                <mat-option value="0">No definido</mat-option>
                <mat-option value="1">2 dimensiones</mat-option>
                <mat-option value="2">3 dimensiones</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col s12 m4 l3" style="margin-bottom:20px;">
            <mat-checkbox formControlName="Pesable">Pesable</mat-checkbox>
        </div>
        <div class="col s12 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Pesable Estandar</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="Pesable_Estandar">
                <mat-option value="1">EAN13</mat-option>
                <mat-option value="2">EAN14</mat-option>
                <mat-option value="3">GS1</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col s6 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Unidad medida base</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="unidadMedidaBase">
                <mat-option *ngFor="let aux of unidadesMedidaAll" [value]="aux.id">
                  {{aux.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div class="col s6 m6 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Unidad medida LP</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="unidadMedidaLP">
                <mat-option *ngFor="let aux of unidadesMedidaAll" [value]="aux.id">
                  {{aux.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col s6 m3 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Largo</mat-label>
              <input (keyup)="calcularM3()" matInput placeholder="" type="number" formControlName="largo">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
        </div>
        <div class="col s6 m3 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Ancho</mat-label>
              <input (keyup)="calcularM3()" matInput placeholder="" type="number" formControlName="ancho">
            </mat-form-field>
        </div>
        <div class="col s6 m3 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Profundidad</mat-label>
              <input (keyup)="calcularM3()" matInput placeholder="" type="number" formControlName="profundidad">
            </mat-form-field>
        </div>
        <div class="col s6 m3 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>m3</mat-label>
              <input matInput placeholder="" formControlName="m3" readonly>
            </mat-form-field>
        </div>
    </div>

    <!-- relacion um alternativas -->
    <div class="col s12 m12 l12" style="margin-top:20px !important; margin-bottom: 15px !important;">
      <span style="display:flex;">
        <h6>U.M. Alternativas:</h6>
        <button type="button" (click)="addUMAlt()" class="mine-btnbig" mat-mini-fab style="font-size:20px !important; margin-left:10px;">
          +
        </button>
      </span>
    </div>

    <!-- <div class="row" *ngFor="let item of umAlt; let in = index" style="margin:5px !important;"> -->
    <div formArrayName="unidadesAlternativas" *ngFor="let ua of forma.controls.unidadesAlternativas?.controls; let i = index">
      <ng-container [formGroupName]="i">
        <div class="row" style="margin:5px !important;">
          <div class="col s12 m4 l2">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>U.M. Alternativa</mat-label>
              <mat-select placeholder="Elija una opción" formControlName="UMAlt">
                <mat-option *ngFor="let aux of unidadesMedidaAll" [value]="aux.id">
                  {{aux.name}}
                </mat-option>
              </mat-select>
              <!-- <input (keyup)="buscarUnidadAlternativa(i)" #codUMAlt matInput placeholder="" formControlName="idUMAlt">
              <mat-hint *ngIf="ua.controls['idUMAlt'].status == 'PENDING'">
                Buscando código...
              </mat-hint>
              <mat-hint *ngIf="ua.controls['idUMAlt'].errors?.noExiste">
                La Unidad de Medida no existe
              </mat-hint> -->
            </mat-form-field>
          </div>
          <!-- <div class="col s8 m4 l3">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>Descripción U.M. Alternativa</mat-label>
              <input matInput placeholder="" readonly type="text" formControlName="UMAltDesc">
            </mat-form-field>
          </div> -->
          <div class="col s4 m4 l2">
            <button type="button" (click)="deleteUMAlt(i)" class="mine-btnbig" mat-mini-fab style="font-size:20px !important;">
              -
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <!--fin relacion-->

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]=false [disabled]=false>
    <mat-expansion-panel-header>
      <mat-panel-title>OBSERVACIONES</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;">
    <div class="col s12 m12 l4">
        <mat-checkbox formControlName="obsRegistroAutoVta">¿Ingresa observaciones automáticamente en la venta?</mat-checkbox>
    </div>
    <div class="col s12 m12 l4">
        <mat-checkbox formControlName="obsRegistroAutoCpa">¿Ingresa observaciones automáticamente en la compra?</mat-checkbox>
    </div>
    </div>
    <div class="row">
    <div class="col s12 m6 l4">
        <mat-checkbox formControlName="obsIngresoVta">¿Ingresa observaciones en la venta?</mat-checkbox>
    </div>
    <div class="col s12 m6 l4">
        <mat-checkbox formControlName="obsIngresoCpa">¿Ingresa observaciones en la compra?</mat-checkbox>
    </div>
    <div class="col s12 m12 l4">
        <mat-checkbox formControlName="obsImprimeVta">¿Imprime observaciones en la factura?</mat-checkbox>
    </div>
    </div>
    <div class="row">
    <div class="col s12 m6 l4">
        <mat-checkbox formControlName="obsAuditoriaVta">¿Audita observaciones en la venta?</mat-checkbox>
    </div>
    <div class="col s12 m6 l4">
        <mat-checkbox formControlName="obsAuditoriaCpa">¿Audita observaciones en la compra?</mat-checkbox>
    </div>
    </div>

  </mat-expansion-panel>

  <div class="row" style="margin-top:25px;">
    <div class="col s12" style="text-align: right;">
      <button type="submit" class="mine-btnbig" mat-flat-button style="margin-right:10px;" [disabled]="!forma.valid">
        GUARDAR
      </button>
      <button type="reset" class="mine-btnbig-grey" mat-flat-button>
        CANCELAR
      </button>
      <a (click)="testcampos()" class="mine-btnbig-grey" mat-flat-button>
          CANCELAR
      </a>
    </div>
  </div>
</form>
<app-cons-din></app-cons-din>