/* .nsm-dialog { width: 50% !important; } */
/* .nsm-dialog { width: 50% !important; max-width: 200px !important; border-radius: 10px !important; padding: 12px 0 0 0 ; } */
/* .modal-header {background-color: royalblue} */