<div>
<div class="col s11 m11 l11" style="margin-top:10px;">
  <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
    <mat-label>{{data.title}}</mat-label>
    <!-- <input matInput placeholder="" formControlName="largo"> -->
    <input matInput #datosUsuario (keyup)="cambio()"  
    [(ngModel)]="datosInternos"
    placeholder="{{data.placeholder}}" >
    <!--<mat-hint>Hint</mat-hint>-->
  </mat-form-field>
</div>
<div class="col s1 m1 l1" style="margin-top:10px;">
  <button type="button" class="mine-btnforms" mat-flat-button (click)="abrirConsulta('')">
    <i class="material-icons" style="font-size:20px;">more_horiz</i>
  </button>
</div>
<!-- <app-cons-din-n2></app-cons-din-n2> -->
</div>