<app-loading *ngIf="loading"></app-loading>
<!-- <div [ngStyle]="{'display':loading ? 'none' : 'block' }"> -->
<h2>ÓRDENES DE PUBLICIDAD</h2>

<mat-expansion-panel [expanded]=true [disabled]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        PROVEEDOR
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top:15px;" *ngIf="!loading">
      <div class="col s3 m2 l1">
        <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Código</p>
        <p style="margin-top:7px;">{{ id }}</p>
        <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%; ">
          <mat-label>Código Proveedor</mat-label>
          <input readonly #codProv matInput placeholder="" value="{{id}}">
        </mat-form-field>-->
      </div>

      <div class="col s6 m4 l3">
        <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Razón Social</p>
        <p style="margin-top:7px;">{{ razonSocial }}</p>
        <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Razón Social</mat-label>
          <input matInput placeholder="" readonly value="{{ compraProveedor?.razon_social }}">
        </mat-form-field>-->
      </div>
      <div class="col s3 m4 l3">
        <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">CUIT</p>
        <p style="margin-top:7px;">{{ cuit }}</p>
        <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>CUIT</mat-label>
          <input matInput placeholder="" readonly value="{{ compraProveedor?.cuit }}">
        </mat-form-field>-->
      </div>
    </div>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      A EJECUTAR
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="mat-elevation-z8" style="margin-top:15px;" *ngIf="!loading">

    <table mat-table [dataSource]="aEjecutar" multiTemplateDataRows class="mat-elevation-z1">
    
      <!-- fecha Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Numero </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.num_operacion }} </td>
      </ng-container>
  
      <!-- comprobante Column -->
      <ng-container matColumnDef="mes">
        <th mat-header-cell *matHeaderCellDef> Mes</th>
        <td mat-cell *cdkCellDef="let element"> {{ element.mes_pactado }} </td>
      </ng-container>
  
      <!-- expediente Column -->
      <ng-container matColumnDef="medio">
        <th mat-header-cell *matHeaderCellDef> Medio </th>
        <td mat-cell *cdkCellDef="let element"> {{ element.nombre_medio }} </td>
      </ng-container>
  
      <!-- observaciones Column -->
      <ng-container matColumnDef="expediente">
        <th mat-header-cell *matHeaderCellDef> Expediente</th>
        <td mat-cell *cdkCellDef="let element"> {{ element.expediente_nombre }} </td>
      </ng-container>
  
      <!-- importe Column -->
      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef style="text-align:right;"> Importe </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:right;"> {{ element.importe }} </td>
      </ng-container>
  
       <!-- accion Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Acciones </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:center;">
            <!-- <span style="font-size:12px; font-weight:bold; color:#000; margin-right:5px;margin-left:5px; cursor: pointer;" (click)="expandedElement = expandedElement === element ? null : element"> D </span> -->
            <!-- <span style="font-size:12px; font-weight:bold; color:#000; cursor: pointer;" (click)=print(element.id_op_url)> I </span> -->
            <a style="color:#000;">
              <i (click)="expandedElement = expandedElement === element ? null : element"
                 matTooltip="Descripcion"
                 class="material-icons">visibility</i>
            </a>
            <a style="color:#000;">
              <i (click)="print(element.id_op_url)"
                 matTooltip="Imprimir"
                 class="material-icons">print</i>
            </a>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *cdkCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <h6>Descripcion</h6>
              <div class="example-element-position"> {{element.descripcion}} </div>
            </div>
          </div>
        </td>
      </ng-container>

         <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
         <tr mat-row *cdkRowDef="let element; columns: columnsToDisplay ;"
         class="example-element-row"
         [class.example-expanded-row]="expandedElement === element"></tr>

         <tr mat-row *cdkRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    
  </div>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      PENDIENTE DE RENDICIÓN
    </mat-panel-title>
  </mat-expansion-panel-header>
  
  <div class="mat-elevation-z8" style="margin-top:15px;" *ngIf="!loading">

    <table  mat-table [dataSource]="pendienteRendicion" multiTemplateDataRows matSort class="mat-elevation-z1">
    
      <!-- fecha Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Numero </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.num_operacion }} </td>
      </ng-container>
  
      <!-- comprobante Column -->
      <ng-container matColumnDef="mes">
        <th mat-header-cell *matHeaderCellDef> Mes</th>
        <td mat-cell *cdkCellDef="let element"> {{ element.mes_pactado }} </td>
      </ng-container>
  
      <!-- expediente Column -->
      <ng-container matColumnDef="medio">
        <th mat-header-cell *matHeaderCellDef> Medio </th>
        <td mat-cell *cdkCellDef="let element"> {{ element.nombre_medio }} </td>
      </ng-container>
  
      <!-- observaciones Column -->
      <ng-container matColumnDef="expediente">
        <th mat-header-cell *matHeaderCellDef> Expediente</th>
        <td mat-cell *cdkCellDef="let element"> {{ element.expediente_nombre }} </td>
      </ng-container>
  
      <!-- importe Column -->
      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef style="text-align:right;"> Importe </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:right;"> {{ element.importe }} </td>
      </ng-container>
  
       <!-- accion Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Acciones </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:center;">
            <!-- <span style="font-size:12px; font-weight:bold; color:#000; margin-right:5px;margin-left:5px; cursor: pointer;" (click)="expandedElement = expandedElement === element ? null : element"> D </span> -->
            <a style="color:#000;">
              <i (click)="expandedElement = expandedElement === element ? null : element"
                 matTooltip="Descripcion"
                 class="material-icons">visibility</i>
            </a>
            <!-- <span style="font-size:12px; font-weight:bold; color:#000; cursor: pointer;" (click)="print(element.id_op_url)"> I </span> -->
            <a style="color:#000;">
              <i (click)="print(element.id_op_url)"
                 matTooltip="Imprimir"
                 class="material-icons">print</i>
            </a>
            <!-- <span style="font-size:12px; font-weight:bold; color:#000; margin-right:5px;margin-left:5px; cursor: pointer;" (click)="abrirConsulta(id,element.id_op_url)"> E </span> -->
            <a style="color:#000;">
              <i (click)="abrirConsulta(id,element.id_op_url)"
                 matTooltip="Registro de Evidencia"
                 class="material-icons">fingerprint</i>
            </a>
            <!-- <span style="font-size:12px; font-weight:bold; color:#000; cursor: pointer;" (click)="cargaFactura(element.expediente_nombre,element.id_op_url)"> F </span> -->
            <a style="color:#000;">
              <i (click)="cargaFactura(element.expediente_nombre,element.id_op_url)" 
                 matTooltip="Registro de Facturas"
                 class="material-icons">receipt</i>
            </a>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *cdkCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <h6>Descripcion</h6>
              <div class="example-element-position"> {{element.descripcion}} </div>
            </div>
          </div>
        </td>
      </ng-container>

         <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
         <tr mat-row *cdkRowDef="let element; columns: columnsToDisplay ;"
         class="example-element-row"
         [class.example-expanded-row]="expandedElement === element"></tr>

         <tr mat-row *cdkRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    
  </div>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      EN PROCESO DE LIQUIDACIÓN
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mat-elevation-z8" style="margin-top:15px;" *ngIf="!loading">

    <table  #tableConsultaCrd mat-table [dataSource]="enProcesoLiquidacion" multiTemplateDataRows matSort class="mat-elevation-z1">
    
      <!-- fecha Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Numero </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.num_operacion }} </td>
      </ng-container>
  
      <!-- comprobante Column -->
      <ng-container matColumnDef="mes">
        <th mat-header-cell *matHeaderCellDef> Mes</th>
        <td mat-cell *cdkCellDef="let element"> {{ element.mes_pactado }} </td>
      </ng-container>
  
      <!-- expediente Column -->
      <ng-container matColumnDef="medio">
        <th mat-header-cell *matHeaderCellDef> Medio </th>
        <td mat-cell *cdkCellDef="let element"> {{ element.nombre_medio }} </td>
      </ng-container>
  
      <!-- observaciones Column -->
      <ng-container matColumnDef="expediente">
        <th mat-header-cell *matHeaderCellDef> Expediente</th>
        <td mat-cell *cdkCellDef="let element"> {{ element.expediente_nombre }} </td>
      </ng-container>
  
      <!-- importe Column -->
      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef style="text-align:right;"> Importe </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:right;"> {{ element.importe }} </td>
      </ng-container>
  
       <!-- accion Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Acciones </th>
        <td mat-cell *cdkCellDef="let element" style="text-align:center;">
            <!-- <span style="font-size:12px; font-weight:bold; color:#000; margin-right:5px;margin-left:5px; cursor: pointer;" (click)="expandedElement = expandedElement === element ? null : element"> D </span> -->
            <!-- <span style="font-size:12px; font-weight:bold; color:#000; cursor: pointer;" (click)=print(element.id_op_url)> I </span> -->
            <a style="color:#000;">
              <i (click)="expandedElement = expandedElement === element ? null : element"
                 matTooltip="Descripcion"
                 class="material-icons">visibility</i>
            </a>
            <a style="color:#000;">
              <i (click)="print(element.id_op_url)"
                 matTooltip="Imprimir"
                 class="material-icons">print</i>
            </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *cdkCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <h6>Descripcion</h6>
              <div class="example-element-position"> {{element.descripcion}} </div>
            </div>
          </div>
        </td>
      </ng-container>

         <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
         <tr mat-row *cdkRowDef="let element; columns: columnsToDisplay ;"
         class="example-element-row"
         [class.example-expanded-row]="expandedElement === element"></tr>

         <tr mat-row *cdkRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
   </table>
    
  </div>
</mat-expansion-panel>
<app-evidencias></app-evidencias>