<div class="row">
  <h4>Visor Impositivo</h4>
</div>

<!-- BOTON COMPROBANTE -->
<div class="row" [hidden]="ocultarComprobante">
  <!-- <a mat-fab aria-label="Ver detalle de comprobante" 
    [routerLink]="['/comprobante', idParam]" 
    [queryParams]="{ flag: 'true'}" 
    queryParamsHandling="merge"
    style="float: right; background-color: #f08377">
    <i class="material-icons">list_alt</i>
  </a> -->
  <a mat-fab aria-label="Ver detalle de comprobante"
    style="float: right; background-color: #f08377">
    <i class="material-icons">list_alt</i>
  </a>
</div>

<!-- CABECERA -->
<div class="row">
  <mat-form-field style="width: 25%">
    <input matInput placeholder="Comprobante" value="{{comprobante.Comprobante}}" readonly>
  </mat-form-field>

  <mat-form-field style="width: 25%">
    <input matInput placeholder="Fecha" value="{{comprobante.Fecha}}" readonly>
  </mat-form-field>

  <mat-form-field style="width: 25%">
    <input matInput placeholder="Referente" value="{{comprobante.RazonSocial_Referente}}" readonly>
  </mat-form-field>

  <mat-form-field style="width: 25%">
    <input matInput placeholder="Total" value="{{comprobante.Total}}" readonly>
  </mat-form-field>
</div>

<app-listado-impositivo [idComprobante]="idParam"></app-listado-impositivo>

<!-- BOTONES -->
<div class="row">
  <!-- <button style="margin-left: 15%"> -->
    <a mat-raised-button [routerLink]="['/comprobantes']" style="margin-left: 40%;background-color: #808080">
      Cancelar
    </a>   
  <!-- </button> -->
  <button mat-raised-button (click)="autorizar()" style="margin-left: 1%;background-color: #f08377">Autorizar</button>
</div>

