<app-loading *ngIf="loading"></app-loading>

<div [ngStyle]="{'display':loading ? 'none' : 'block' }">
<h2>RETENCIONES</h2>

<mat-expansion-panel [expanded]=true [disabled]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        PROVEEDOR
      </mat-panel-title>
    </mat-expansion-panel-header>
<!--<form [formGroup]="forma" novalidate="novalidate">-->

  <div class="row" style="margin-top:15px;" *ngIf="!loading">
    <div class="col s3 m2 l1">
      <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Código</p>
      <p style="margin-top:7px;">{{ id }}</p>
      <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%; ">
        <mat-label>Código Proveedor</mat-label>
        <input readonly #codProv matInput placeholder="" value="{{id}}">
      </mat-form-field>-->
    </div>

    <div class="col s6 m4 l3">
      <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Razón Social</p>
      <p style="margin-top:7px;">{{ compraProveedor?.name }}</p>
      <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
        <mat-label>Razón Social</mat-label>
        <input matInput placeholder="" readonly value="{{ compraProveedor?.razon_social }}">
      </mat-form-field>-->
    </div>
    <div class="col s3 m4 l3">
      <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">CUIT</p>
      <p style="margin-top:7px;">{{ cuit }}</p>
      <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
        <mat-label>CUIT</mat-label>
        <input matInput placeholder="" readonly value="{{ compraProveedor?.cuit }}">
      </mat-form-field>-->
    </div>

  </div>

  <form [formGroup]="forma" novalidate="novalidate">

    <div class="row" style="margin-top:15px;" *ngIf="!loading">
      <h6 style="margin-top:0px !important; margin-bottom: 20px !important; margin-left: 20px !important;">Filtros:</h6>
      <div class="col s6 m3 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Fecha desde</mat-label>
          <input matInput [matDatepicker]="picker1" placeholder="" [min]="fechaDesde" [max]="fechaActual" formControlName="fecdesde" [value]="fechaDesde">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s6 m3 l2">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Fecha Hasta</mat-label>
          <input matInput [matDatepicker]="picker2" placeholder="" [min]="fechaDesde" [max]="fechaActual" formControlName="fechasta" [value]="fechaActual">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s12 m3 l3">
        <mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
          <mat-label>Expediente</mat-label>
          <input matInput placeholder="" formControlName="expediente">
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="col s3 m3 l1" style="padding-right:2px; text-align:right; vertical-align:middle; margin-top:10px;">
          <a (click)="getComprobantes()" class="mine-btnbig" mat-flat-button>
            <i class="material-icons" style="font-size:20px;">search</i>
          </a>
      </div>
    </div>

    </form>

     <div [ngStyle]="{'display':!loading&&filtrada ? 'block' : 'none' }" class="mat-elevation-z8">

       <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

         <!-- Fecha Column -->
         <ng-container matColumnDef= "Fecha">
           <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Fecha </th>
           <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.Fecha | date: 'dd-MM-yyyy' }} </td>
         </ng-container>

         <!-- Comprobante Column -->
         <ng-container matColumnDef="Comprobante">
           <th mat-header-cell *matHeaderCellDef> Comprobante </th>
           <td mat-cell *cdkCellDef="let element"> {{ element.Numero_Comprobante }} </td>
         </ng-container>

         <!-- Expediente Column -->
         <ng-container matColumnDef="Expediente">
           <th mat-header-cell *matHeaderCellDef> Expediente </th>
           <td mat-cell *cdkCellDef="let element"> {{ element.Expediente }} </td>
         </ng-container>

         <!-- Impuesto Column -->
         <ng-container matColumnDef="Impuesto">
           <th mat-header-cell *matHeaderCellDef> Impuesto </th>
           <td mat-cell *cdkCellDef="let element"> {{ element.Certificado }} </td>
         </ng-container>

         <!-- Concepto Column -->
         <ng-container matColumnDef="Concepto">
           <th mat-header-cell *matHeaderCellDef style="text-align:right;"> Concepto </th>
           <td mat-cell *cdkCellDef="let element" style="text-align:right;"> $ {{ element.Importe_Total | number:'1.2-2' }} </td>
         </ng-container>

         <!-- Importe Column -->
         <ng-container matColumnDef="Importe">
           <th mat-header-cell *matHeaderCellDef style="text-align:right;"> Saldo</th>
           <td mat-cell *cdkCellDef="let element" style="text-align:right;"> {{ element.Saldo=="B"?("$ "+element.Saldo+".00"):"" }} </td>
         </ng-container>

         <!-- accion Imprimir-->
         <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *cdkCellDef="let element">
            <i (click)="print(element.Id_Comprobante)" class="material-icons" style="cursor: pointer">print</i>
          </td>
        </ng-container>


         <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
         <tr mat-row *cdkRowDef="let element; columns: columnsToDisplay ;"></tr>

       </table>

        <mat-paginator [pageSizeOptions]="[20]"></mat-paginator>
     </div>
    </mat-expansion-panel>
     </div>
