<div class="frm-line-etangram">
  <div class="row">
    <div class="col s8 m4 l4">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Expediente</mat-label>
        <input matInput [(ngModel)]="linea.Expediente" [readonly]="linea.ID_AppReserva != 0">
      </mat-form-field>
    </div>

    <div class="col s8 m4 l4">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Tramite</mat-label>
        <input matInput [value]="linea.Tramite" [readonly]="linea.ID_AppReserva != 0">
      </mat-form-field>
    </div>
  
    <div class="col s8 m4 l4">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Fecha</mat-label>
        <input matInput [value]="linea.Fecha" [readonly]="linea.ID_AppReserva != 0">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col s8 m4 l3">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Partida</mat-label>
        <mat-select [(value)]="linea.ID_Partida" (selectionChange)="seleccionarPartida($event.value)">
          <mat-option *ngFor="let partida of partidas" [value]="partida.ID_Partida">
            {{partida.Nombre_Partida}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div class="col s8 m4 l3">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Descripcion</mat-label>
        <input matInput [(ngModel)]="linea.Descripcion_Partida" [readonly]="linea.ID_AppReserva != 0">
      </mat-form-field>
    </div>

    <div class="col s8 m4 l3">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Imputado</mat-label>
        <input matInput [(ngModel)]="linea.Imputado" type="number" style="text-align:right;">
        <span matPrefix style="font-family: 'Lato', sans-serif !important;">$&nbsp;</span>
      </mat-form-field>
    </div>

    <div class="col s8 m4 l2">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Estado</mat-label>
        <input matInput [(ngModel)]="linea.Estado_Presupuestario" [readonly]="linea.ID_AppReserva != 0">
      </mat-form-field>
    </div>
  </div>
  
  <!-- BOTONES -->
  <div class="row">
    <div class="col s12 m12 l12" class="btn-etangram-div">
      <button mat-raised-button (click)="guardar()" class="btn-etangram-ok" style="float: right; margin-right: 1%" *ngIf="linea.ID_AppReserva == 0">GUARDAR</button>
      <button mat-raised-button (click)="actualizar()"  class="btn-etangram-ok" style="float: right; margin-right: 1%" *ngIf="linea.ID_AppReserva != 0">ACTUALIZAR</button>
      <button mat-raised-button color="warn" (click)="cancelar()" class="btn-etangram-ko" style="float: right; margin-right: 1%">CANCELAR</button>
    </div>
  </div>
</div>
  