<mat-toolbar style="background-color:#534d64">
  <span>
    <img src="assets/img/logo_etangram_png.png" style="height: 40px; margin-top: 12px; ">

  </span>
  <span style="flex: 1 1 auto;"></span>
  <!-- <p style="color:#fff; font-family: 'Lato', sans-serif !important; font-size:16px;">{{ usuario }}</p> -->
   <span>
    <button mat-button style="color:#fff; font-family: 'Lato', sans-serif !important; font-size:16px;">
      {{ usuario }}
    </button></span>
  <!--  <mat-menu #menu="matMenu">
      <button [routerLink]="['/login']" mat-menu-item>Páginas</button>
      <mat-divider></mat-divider>
      <!--<button [routerLink]="['/compra/usuario1/password1']" mat-menu-item>Compra</button>-->
      <!--<button [routerLink]="['/proveedores']" mat-menu-item>Proveedores</button>-->
      <!--<button [routerLink]="['/articulos']" mat-menu-item>Artículos</button>-->
      <!--<button [routerLink]="['/ref-contables']" mat-menu-item>Ref. Contables</button>
      <button [routerLink]="['/plan-cuentas']" mat-menu-item>Plan de Cuentas</button>
      <button [routerLink]="['/min-contables/nuevo']" mat-menu-item>Minutas Contables</button>
      <button [routerLink]="['/consulta']" mat-menu-item>Consultas Dinámicas</button>
      <button [routerLink]="['/consulta-crd/23']" mat-menu-item>Consultas CRD</button>
      <button [routerLink]="['/consulta-comprobantes/4081']" mat-menu-item>Consulta Comprobantes</button>
      <button [routerLink]="['/consulta-retenciones/4081']" mat-menu-item>Consulta Retenciones</button>
      <button [routerLink]="['/consulta-ord-pago/4081']" mat-menu-item>Consulta Ordenes de Pago</button>-->
      <!-- prueba interna. borrar
      <button [routerLink]="['/prueba']" mat-menu-item>Prueba</button>
      
    </mat-menu>
  </span>
  <span>
    <button mat-button [matMenuTriggerFor]="user" style="color:#fff; font-family: 'Lato', sans-serif !important; font-size:16px;">
      Username <i class="material-icons" style="color:#fff; font-size:30px;">person_outline</i>
    </button>
    <mat-menu #user="matMenu">
      <button mat-menu-item>Mi perfil</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Cerrar sesión</button>
    </mat-menu>
  </span> -->
</mat-toolbar>
<app-cons-din-n2></app-cons-din-n2>
<app-cd-filtros-n2></app-cd-filtros-n2>
<app-cd-tabla-n2></app-cd-tabla-n2>