<ngx-smart-modal #consDinModal 
                 customClass="overlay-cons-din" 
                 [identifier]="'consDinModal'"
                 [closable]="false"
                 >
<div class="modal-header">
    
</div>
<div class="modal-body"  style="max-width: 2000px !important;">
  <app-consulta-dinamica></app-consulta-dinamica>
</div>
<div class="modal-footer">
    <button type="button" class="mine-btnbig" (click)="aplicar()">Aplicar</button>
    <button type="button" class="mine-btnbig" (click)="cancelar()">Cancelar</button>
</div>
</ngx-smart-modal>


