/* .overlay-cons-din.nsm-dialog { width: 85% !important; max-width: 2000px !important; border-radius: 10px !important; padding: 12px 0 0 0 ; background-color: thistle} */
/* .overlay-filtros.nsm-dialog  { width: 60% !important; max-width: 2000px !important; border-radius: 10px !important; padding: 12px 0 0 0 ; background-color: purple} */

/* .nsm-dialog { width: 60% !important; max-width: 2000px !important; border-radius: 10px !important; padding: 12px 0 0 0 ; } */
/* .modal-header { background-color: slategray} */
/* .modal-body {background-color: springgreen} */