<!-- <h2>DATOS PROVEEDOR</h2> -->
<app-loading *ngIf="loading"></app-loading>
<mat-expansion-panel [expanded]=true [disabled]=true *ngIf="!loading">
    <div class="row" style="margin-top:15px;" *ngIf="!loading">
        <div class="col s3 m2 l3">
          <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Razon Social</p>
          <p style="margin-top:7px;">{{ datosCabecera[0].Razon_Social }}</p>
          <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%; ">
            <mat-label>Código Proveedor</mat-label>
            <input readonly #codProv matInput placeholder="" value="{{id}}">
          </mat-form-field>-->
        </div>
  
        <div class="col s6 m4 l3">
          <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">CUIT</p>
          <p style="margin-top:7px;">{{ datosCabecera[0].CUIT }}</p>
          <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Razón Social</mat-label>
            <input matInput placeholder="" readonly value="{{ compraProveedor?.razon_social }}">
          </mat-form-field>-->
        </div>
        <div class="col s3 m4 l3">
          <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">ESTADO</p>
          <p style="margin-top:7px;">{{ datosCabecera[0].Estado }}</p>
          <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>CUIT</mat-label>
            <input matInput placeholder="" readonly value="{{ compraProveedor?.cuit }}">
          </mat-form-field>-->
        </div>
        <div class="col s3 m4 l3">
            <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">ESTADO AFIP</p>
            <p style="margin-top:7px;">{{ datosCabecera[0].Estado_Afip }}</p>
            <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>CUIT</mat-label>
              <input matInput placeholder="" readonly value="{{ compraProveedor?.cuit }}">
            </mat-form-field>-->
          </div>
  
      </div>
  <mat-expansion-panel-header>    
      <mat-title-panel>
        PROVEEDOR
      </mat-title-panel>    
  </mat-expansion-panel-header>

  <div class="row" style="margin-top:15px; margin-bottom:20px !important;">
    <!-- <div class="mat-elevation-z8" style="float: left; width:60%;"> -->
      <!-- <mat-expansion-panel [expanded]=true [disabled]=true *ngIf="!loading" style="width:100%;">
          <mat-expansion-panel-header style="display: none">
            <mat-panel-title>
              IMPUESTOS
            </mat-panel-title>
          </mat-expansion-panel-header> -->

    <div class="row" style="margin-top:15px; margin-bottom:20px !important; float: left; width:60%;">
      <th style="display:flex !important;
      justify-content:center!important;">IMPUESTOS</th>
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" >
        <!-- Fecha Column -->
        <ng-container matColumnDef= "descripcion">
          <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Descripcion </th>
          <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.name_mode}} </td>
        </ng-container>

        <!-- Comprobante Column -->
        <ng-container matColumnDef="situacion">
          <th mat-header-cell *matHeaderCellDef> Situacion </th>
          <td mat-cell *cdkCellDef="let element"> {{ element.situacion }} </td>
        </ng-container>

        <!-- Expediente Column -->
        <ng-container matColumnDef="inscripcion">
          <th mat-header-cell *matHeaderCellDef> Inscripcion </th>
          <td mat-cell *cdkCellDef="let element"> {{ element.nroinscripcion }} </td>
        </ng-container>

        <!-- Impuesto Column -->
        <ng-container matColumnDef="excencion">
          <th mat-header-cell *matHeaderCellDef> Excencion </th>
          <td mat-cell *cdkCellDef="let element"> Desde: {{ element.exen_fechadesde }} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="['descripcion', 'situacion', 'inscripcion', 'excencion']"></tr>
        <tr mat-row *cdkRowDef="let row; columns: ['descripcion', 'situacion', 'inscripcion', 'excencion'] ;"></tr>

      </table>
    </div>
      <!-- <mat-paginator [pageSizeOptions]="[20]"></mat-paginator> -->

      <!-- </mat-expansion-panel> -->
    <!-- </div> -->
  
    <!-- <div class="mat-elevation-z8" style="float: left; width:40%;"> -->
    <!-- <mat-expansion-panel [expanded]=true [disabled]=true *ngIf="!loading" style="width:100%;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          FORMULARIOS
        </mat-panel-title>
      </mat-expansion-panel-header> -->
    <div class="row" style="margin-top:15px; margin-bottom:20px !important; float: left; width:40%;"> 
        <th style="display:flex !important;
        justify-content:center!important;">FORMULARIOS</th> 
      <table mat-table [dataSource]="dataSource2" multiTemplateDataRows class="mat-elevation-z8">

        <!-- Fecha Column -->
        <ng-container matColumnDef= "descripcion">
          <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Descripcion </th>
          <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.name }} </td>
        </ng-container>

        <!-- Comprobante Column -->
        <ng-container matColumnDef="presentacion">
          <th mat-header-cell *matHeaderCellDef> Presentacion </th>
          <td mat-cell *cdkCellDef="let element"> {{ element.fechapresentacion }} </td>
        </ng-container>

        <!-- Expediente Column -->
        <ng-container matColumnDef="vencimiento">
          <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
          <td mat-cell *cdkCellDef="let element"> {{ element.fechavencimiento }} </td>
        </ng-container>

        <!-- Opciones -->
        <ng-container matColumnDef= "opciones">
          <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Descripcion </th>
          <td mat-cell *cdkCellDef="let element" style="text-align:left;">
          <!--  <i (click)="print(element.nint)" class="material-icons" style="cursor: pointer">print</i> -->
          <a href='{{ element.url }}' style="margin-right:5px">Ver</a>
          <a href='#'>Upd</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['descripcion', 'presentacion', 'vencimiento', 'opciones'] "></tr>
        <tr mat-row *cdkRowDef="let row; columns: ['descripcion', 'presentacion', 'vencimiento', 'opciones'] ;"></tr>

      </table>
    </div>
      <!-- <mat-paginator [pageSizeOptions]="[20]"></mat-paginator> -->
    <!-- </mat-expansion-panel> -->
  <!-- </div> -->
  
</div>
</mat-expansion-panel>
<div class="row" style="margin-top:15px; margin-bottom:20px; width: 100% !important;">
    <mat-expansion-panel [expanded]=true [disabled]=true *ngIf="!loading" style="width:100%; ">
      <mat-expansion-panel-header>
        <mat-panel-title>
          INFORMACIÓN DE CONTACTO
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="row" style="margin-top:15px; margin-bottom:20px; width: 100% !important;">
      <div class="col s6 m3 l4" style="display: inline-block">
          Direccion de Facturación
        <mat-form-field appearance="outline" style="width:100%; display: inline-block">
        
          <input matInput type="text" readonly disabled placeholder="" value="{{ direccionFac }}">
        </mat-form-field>
      </div>
      <div class="col s6 m3 l4" style="display: inline-block">
          Direccion de Envío
        <mat-form-field appearance="outline" style="width:100%; display: inline-block">
         
          <input matInput type="text" readonly disabled placeholder="" value="{{ direccionEnv }}">
        </mat-form-field>
      </div>
      <div class="col s6 m3 l4" style="display: inline-block">
          Email
        <mat-form-field appearance="outline" style="width:100%; display: inline-block">
       
          <input matInput type="text" readonly disabled placeholder="" value="{{ datosCabecera[0].Email }}">
        </mat-form-field>
      </div>
      <div class="col s6 m3 l4" style="display: inline-block">
          Teléfonos
        <mat-form-field appearance="outline" style="width:100%; display: inline-block">
         
          <input matInput type="text" readonly disabled placeholder="" value="{{ telefonos }}">
        </mat-form-field>
      </div>
     </div>
    <!-- <p >Direccion de Facturación: {{ direccionFac }}</p><br>
    <p>Direccion de Envío: {{ direccionEnv }}</p><br>
    <span>Email: {{ datosCabecera[0].Email }} </span><br>
    <span>Teléfonos: {{ datosCabecera[0].Telefono_Oficina }}</span><span>{{ datosCabecera[0].Telefono_Movil }}</span> -->
      </mat-expansion-panel>
      <button (click)="modificar()" class="mine-btnbig" mat-flat-button>Modificar</button>
      <button class="mine-btnbig" mat-flat-button>Actualizar</button>
  </div>