<!-- <h2>DATOS PROVEEDOR</h2> -->
<app-loading *ngIf="loading"></app-loading>
<mat-expansion-panel [expanded]=true [disabled]=true *ngIf="!loading">
    <div class="row" style="margin-top:15px; margin-bottom:10px;" *ngIf="!loading">
        <div class="col s3 m2 l3">
          <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Razón Social</p>
          <p style="margin-top:7px;">{{ datosCabecera[0].Razon_Social }}</p>
          <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%; ">
            <mat-label>Código Proveedor</mat-label>
            <input readonly #codProv matInput placeholder="" value="{{id}}">
          </mat-form-field>-->
        </div>

        <div class="col s6 m4 l3">
          <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">CUIT</p>
          <p style="margin-top:7px;">{{ datosCabecera[0].CUIT }}</p>
          <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>Razón Social</mat-label>
            <input matInput placeholder="" readonly value="{{ compraProveedor?.razon_social }}">
          </mat-form-field>-->
        </div>
        <div class="col s3 m4 l3">
          <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Estado</p>
          <p style="margin-top:7px;">{{ datosCabecera[0].Estado }}</p>
          <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
            <mat-label>CUIT</mat-label>
            <input matInput placeholder="" readonly value="{{ compraProveedor?.cuit }}">
          </mat-form-field>-->
        </div>
        <div class="col s3 m4 l3">
            <p style="font-size:11px;margin-top:0px;margin-bottom:0px;color:#666">Estado AFIP</p>
            <p style="margin-top:7px;">{{ datosCabecera[0].Estado_Afip }}</p>
            <!--<mat-form-field appearance="outline" floatLabel="always" style="width:100%;">
              <mat-label>CUIT</mat-label>
              <input matInput placeholder="" readonly value="{{ compraProveedor?.cuit }}">
            </mat-form-field>-->
          </div>

      </div>
  <mat-expansion-panel-header>
      <mat-title-panel>
        PROVEEDOR
      </mat-title-panel>
  </mat-expansion-panel-header>

  <div class="row" style="margin-top:15px; margin-bottom:20px !important;">
    <!-- <div class="mat-elevation-z8" style="float: left; width:60%;"> -->
      <!-- <mat-expansion-panel [expanded]=true [disabled]=true *ngIf="!loading" style="width:100%;">
          <mat-expansion-panel-header style="display: none">
            <mat-panel-title>
              IMPUESTOS
            </mat-panel-title>
          </mat-expansion-panel-header> -->

    <div class="row" style="margin-top:1px; margin-bottom:0px; margin-left:5px !important; float: left; width:55%;">
     <div><p style="text-align:left !important; margin-left:10px; font-weight: bold;">IMPUESTOS:</p></div> <!-- <th style="display:flex !important;
      justify-content:center!important;">IMPUESTOS</th> -->
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" >
        <!-- Fecha Column -->
        <ng-container matColumnDef= "descripcion">
          <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Descripción </th>
          <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.Impuesto}} </td>
        </ng-container>

        <!-- Comprobante Column -->
        <ng-container matColumnDef="situacion">
          <th mat-header-cell *matHeaderCellDef> Situación </th>
          <td mat-cell *cdkCellDef="let element"> {{ element.Situacion }} </td>
        </ng-container>

        <!-- Expediente Column -->
        <ng-container matColumnDef="inscripcion">
          <th mat-header-cell *matHeaderCellDef> Inscripción </th>
          <td mat-cell *cdkCellDef="let element"> {{ element.Fecha_inscripcion }} </td>
        </ng-container>

        <!-- Impuesto Column -->
        <ng-container matColumnDef="excencion">
          <th mat-header-cell *matHeaderCellDef> Exención </th>
          <td mat-cell *cdkCellDef="let element"> Desde: {{ element.Fecha_Desde_Exenciones }} Hasta: {{ element.Fecha_Hasta_Exenciones }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="['descripcion', 'situacion', 'inscripcion', 'excencion']"></tr>
        <tr mat-row *cdkRowDef="let row; columns: ['descripcion', 'situacion', 'inscripcion', 'excencion'] ;"></tr>

      </table>
    </div>
    
      <!-- <mat-paginator [pageSizeOptions]="[20]"></mat-paginator> -->

      <!-- </mat-expansion-panel> -->
    <!-- </div> -->

    <!-- <div class="mat-elevation-z8" style="float: left; width:40%;"> -->
    <!-- <mat-expansion-panel [expanded]=true [disabled]=true *ngIf="!loading" style="width:100%;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          FORMULARIOS
        </mat-panel-title>
      </mat-expansion-panel-header> -->
    <div class="row" style="margin-top:1px; margin-bottom:0px; margin-left:15px !important; float: left; width:40%;">
      <div><p style="text-align:left !important; margin-left: 10px; font-weight: bold;">FORMULARIOS:</p></div><!-- <th style="display:flex !important;
        justify-content:center !important;">FORMULARIOS</th>  -->
      <table mat-table [dataSource]="dataSource2" multiTemplateDataRows class="mat-elevation-z8">

        <!-- Fecha Column -->
        <ng-container matColumnDef= "descripcion">
          <th mat-header-cell *matHeaderCellDef style="text-align:left;"> Descripción </th>
          <td mat-cell *cdkCellDef="let element" style="text-align:left;"> {{ element.Descripcion }} </td>
        </ng-container>

        <!-- Comprobante Column -->
        <ng-container matColumnDef="presentacion">
          <th mat-header-cell *matHeaderCellDef> Presentación </th>
          <td mat-cell *cdkCellDef="let element"> {{ element.Fecha_presentacion }} </td>
        </ng-container>

        <!-- Expediente Column -->
        <ng-container matColumnDef="vencimiento">
          <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
          <td mat-cell *cdkCellDef="let element"> {{ element.Fecha_vencimiento }} </td>
        </ng-container>

        <!-- Opciones -->
        <ng-container matColumnDef= "opciones">
          <th mat-header-cell *matHeaderCellDef style="text-align:left;"> </th>
          <td mat-cell *cdkCellDef="let element" style="text-align:right;">
            <a href='{{ element.Url }}'><i class="material-icons" style="cursor:pointer; color:#f08377;">visibility</i></a>
            <i (click)="cargarFormulario(element.ID_Formulario,element.ID_Formulario_nombre,element.Fecha_presentacion,element.Fecha_vencimiento,element.Url)" class="material-icons" style="cursor:pointer; margin-left: 10px; color:#f08377;">edit</i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['descripcion', 'presentacion', 'vencimiento', 'opciones'] "></tr>
        <tr mat-row *cdkRowDef="let row; columns: ['descripcion', 'presentacion', 'vencimiento', 'opciones'] ;"></tr>

      </table>
    </div>
      <!-- <mat-paginator [pageSizeOptions]="[20]"></mat-paginator> -->
    <!-- </mat-expansion-panel> -->
  <!-- </div> -->

</div>
</mat-expansion-panel>
<form [formGroup]="forma" novalidate="novalidate">
  <div class="row" style="margin-top:15px; margin-bottom:20px; width: 100% !important;">

    <mat-expansion-panel [expanded]=true [disabled]=true *ngIf="!loading" style="width:100%; ">
      <mat-expansion-panel-header>
        <mat-panel-title>
          INFORMACIÓN DE CONTACTO
        </mat-panel-title>
    </mat-expansion-panel-header>

    <p style="font-weight:bold;">Dirección de Facturación:</p>
      <div class="row" style="margin-top:15px; margin-bottom:20px; width: 100% !important;">
        <div class="col s6 m3 l4" style="display: inline-block">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
            <mat-label>Calle</mat-label>
            <input matInput type="text"  placeholder="" formControlName="calleFac" value="{{ datosCabecera[0].Domicilio }}" >
          </mat-form-field>
        </div>
        <div class="col s6 m3 l3" style="display: inline-block">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
            <mat-label>Cód. Postal</mat-label>
            <input matInput type="text"  disabled placeholder="" formControlName="codPostalFac" value="{{ datosCabecera[0].Codigo_Postal }}">
          </mat-form-field>
        </div>
        <div class="col s2 m2 l1" style="margin-top:10px;">

        </div>
        <div class="col s6 m3 l4" style="display: inline-block">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
            <mat-label>Ciudad</mat-label>
            <input matInput type="text"  disabled placeholder="" formControlName="provinciaFac" value="{{ datosCabecera[0].Ciudad }}">
          </mat-form-field>
        </div>
      </div>

    <p style="font-weight:bold;">Dirección de Envío:</p>
      <div class="row" style="margin-top:15px; margin-bottom:20px; width: 100% !important;">
        <div class="col s6 m3 l4" style="display: inline-block">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
            <mat-label>Calle</mat-label>
            <input matInput type="text"  placeholder="" formControlName="calleEnv" value="{{ datosCabecera[0].Domicilio_envio }}">
          </mat-form-field>
        </div>
        <div class="col s6 m3 l3" style="display: inline-block">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
            <mat-label>Cód. Postal</mat-label>
            <input (keyup)="buscarLocalidad()" #envCodPostal matInput type="text"  placeholder="" formControlName="codPostalEnv" value="{{ datosCabecera[0].Codigo_Postal_envio }}">
            <mat-hint *ngIf="forma.status=='PENDING'">
              Buscando código...
            </mat-hint>
            <mat-hint *ngIf="forma.controls['codPostalEnv'].errors?.noExiste">
              Localidad Inexistente
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col s2 m2 l1" *ngIf="modificando" style="margin-top:10px;" (click)="abrirConsulta('tg01_localidades', 'codPostalEnv')">
          <a class="mine-btnforms" mat-flat-button>
            <i class="material-icons" style="font-size:20px;">more_horiz</i>
          </a>
        </div>
        <div class="col s2 m2 l1" *ngIf="!modificando" style="margin-top:10px;">

        </div>
        <div class="col s6 m3 l4" style="display: inline-block">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
            <mat-label>Ciudad</mat-label>
            <input matInput type="text"  placeholder="" formControlName="provinciaEnv" value="{{ datosCabecera[0].Ciudad_envio }}">
          </mat-form-field>
        </div>
      </div>
    <!--<p style="font-weight:bold;">E-mail:</p>
      <div class="row" style="margin-top:1px; margin-bottom:20px; width: 100% !important;">
        <div class="col s6 m3 l3" style="display: inline-block">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
            <!-- <mat-label>Email</mat-label>
            <input matInput type="text"  placeholder="" formControlName="email" value="{{ datosCabecera[0].Email }}">
          </mat-form-field>
        </div>
      </div>-->
    <p style="font-weight:bold;">Contacto:</p>
      <div class="row" style="margin-top:15px; margin-bottom:20px; width: 100% !important;">
        <div class="col s6 m3 l3" style="display: inline-block">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
            <mat-label>E-mail</mat-label>
            <input matInput type="text"  placeholder="" formControlName="email" value="{{ datosCabecera[0].Email }}">
          </mat-form-field>
        </div>
        <div class="col s6 m3 l3" style="display: inline-block">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
            <mat-label>Teléfono</mat-label>
            <input matInput type="text"  placeholder="" formControlName="telefono1" value="{{ datosCabecera[0].Telefono_Oficina }}">
          </mat-form-field>
        </div>
        <div class="col s6 m3 l3" style="display: inline-block">
            <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
              <mat-label>Celular</mat-label>
              <input matInput type="text"  placeholder="" formControlName="telefono2" value="{{ datosCabecera[0].Telefono_Movil }}">
            </mat-form-field>
        </div>
        <div class="col s6 m3 l3" style="display: inline-block">
          <mat-form-field appearance="outline" floatLabel="always" style="width:100%; display: inline-block">
            <mat-label>Fax</mat-label>
            <input matInput type="text"  placeholder="" formControlName="telefono3" value="{{ datosCabecera[0].Telefono_Fax }}">
          </mat-form-field>
       </div>
      </div>
      <button *ngIf="!modificando" (click)="modificar()" class="mine-btnbig-grey" mat-flat-button>MODIFICAR</button>
      <button *ngIf="modificando" (click)="actualizar()" class="mine-btnbig" mat-flat-button>ACTUALIZAR</button>
    </mat-expansion-panel>
  </div>
</form>
<app-cons-din></app-cons-din>
<app-formularios></app-formularios>
