<div class="row">
  <div class="col s8 m6 l10">
    <h2>Detalle de comprobante</h2>
  </div>
</div>

<div class="row">
  <div class="col s8 m6 l2">
    <mat-form-field>
      <input matInput placeholder="Nro de comprobante" value="{{comprobante.Comprobante}}" readonly>
    </mat-form-field>
  </div>

  <div class="col s8 m6 l2">
    <mat-form-field>
      <input matInput placeholder="Fecha" value="{{comprobante.Fecha}}" readonly>
    </mat-form-field>
  </div>

  <div class="col s8 m6 l2">
    <mat-form-field>
      <input matInput placeholder="Proveedor" value="{{comprobante.RazonSocial_Referente}}" readonly>
    </mat-form-field>
  </div>

  <div class="col s8 m6 l2">
    <mat-form-field>
      <input matInput placeholder="Razón social" value="{{comprobante.RazonSocial_Referente}}" readonly>
    </mat-form-field>
  </div>

  <div class="col s8 m6 l2">
    <mat-form-field>
      <input matInput placeholder="Total" value="{{comprobante.Total}}" readonly>
    </mat-form-field>
  </div>
</div>

<div class="row" *ngIf="lineasComprobante.length > 0">
  <table mat-table [dataSource]="_lineasComprobante" matSort class="mat-elevation-z1"
    style="font-family: 'Lato', sans-serif !important;">

    <!-- columna Producto -->
    <ng-container matColumnDef="producto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Producto
      </th>
      <td mat-cell *matCellDef="let row" >
        {{row.Producto}}
      </td>
    </ng-container>

    <!-- columna cantidad -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Cantidad
      </th>
      <td mat-cell *matCellDef="let row" >
        {{row.Cantidad}}
      </td>
    </ng-container>

    <!-- columna UM -->
    <ng-container matColumnDef="UM">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        U.M
      </th>
      <td mat-cell *matCellDef="let row" >
        {{row.UM}}
      </td>
    </ng-container>

    <!-- columna precio unitario -->
    <ng-container matColumnDef="precioUnitario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Precio unitario
      </th>
      <td mat-cell *matCellDef="let row" >
        {{row.Precio_Unitario}}
      </td>
    </ng-container>

    <!-- columna descuento -->
    <ng-container matColumnDef="descuento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Descuento
      </th>
      <td mat-cell *matCellDef="let row" >
        {{row.Descuento}}
      </td>
    </ng-container>

    <!-- columna Total -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Total
      </th>
      <td mat-cell *matCellDef="let row" >
        {{row.Total}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

  <!-- <mat-paginator 
    [length]="100"
    [pageSizeOptions]="[5, 10, 20]" 
    (page)="pageEvent = $event" 
    showFirstLastButtons 
    class="mat-elevation-z1" 
    >
  </mat-paginator> -->
</div>

<div class="col s12" style="margin-top:5px;" *ngIf="lineasComprobante.length == 0">
  <mat-card style="text-align:center; padding-top:10px; padding-bottom:10px; color:grey;"><i>No existen productos</i></mat-card>
</div>

<!-- BOTONES -->
<div class="row">
  <div class="col s12 m12 l12" class="btn-etangram-div">
    <button mat-raised-button (click)="volver()" class="btn-etangram-ok">VOLVER</button>
  </div>
</div>