<ngx-smart-modal #cdFiltrosModal 
                 customClass="overlay-filtros-n2"
                 [identifier]="'cdFiltrosModalN2'"
                 [closable]="false"
                 [dismissable]="false"
                 [escapable]="false">
  <div>
    <h2 class="modal-title pull-left" style="margin-top:5px; margin-bottom:15px;">Filtros:</h2>
  </div>
  <mat-card style="padding:0px">
    <app-loading *ngIf="loading"></app-loading>
    <mat-tab-group [(selectedIndex)]="selectedTab">
        <mat-tab label="Básico">
            <div style="margin:15px 10px 0px 10px"><ng-container AnclaParaFiltros></ng-container></div>
        </mat-tab>
        <mat-tab label="Avanzado">
            <div style="margin:15px 10px 0px 10px"><ng-container AnclaParaAvanzados></ng-container></div>
        </mat-tab>
    </mat-tab-group>
  </mat-card>
  <div style="margin-top: 10px; width: 100%; text-align: right;">
      <button mat-flat-button class="mine-btnbig" (click)="aplicar()">APLICAR</button>
      <button mat-flat-button class="mine-btnbig-grey" Style="margin-left: 5px" (click)="volver()">CANCELAR</button>
  </div>
</ngx-smart-modal>